{{ require_css( get_asset_url("../Full-Width Content.css"), { async: true } ) }}

{#####################################################
  MARK: Map Module Controls -> Variables
#####################################################}
{% set section_controls       = module.section_controls %}
{% set layout_controls        = module.layout_controls %}
{% set grid_alignment_desktop = layout_controls.container_alignment %}
{% set section_header_size    = layout_controls.section_header_size|default('h2') %}
{% set container_width        = layout_controls.container_width %}

{#####################################################
  MARK: Macros
#####################################################}
{% macro render_section_shell(section_slug, module) -%}
  <div {{ 'id="' ~ section_controls.anchor_id|trim ~ '"' if section_controls.anchor_id }} class="section section--{{ section_slug }} relative overflow--hidden {{ snippets.deviceVisibility(section_controls.device_visibility)|trim }}">
    {{ snippets.background(module.background) }}
    <div class="block relative z-index--3">
      <div class="section--{{ section_slug }}--inner">
        {{ snippets.swoopSpacerTop(module.background) }}
        <div class="block gridspacer--top {{ snippets.sectionPadding(section_controls.spacing,"top")|trim }}">

        </div>

        {{ caller() }}

        <div class="block gridspacer--bottom {{ snippets.sectionPadding(section_controls.spacing,"bottom")|trim }}">

        </div>
        {{ snippets.swoopSpacerBottom(module.background) }}
      </div>
    </div>
    {{ snippets.sectionPaddingCustomStyles(name,section_controls.spacing,".gridspacer--top",".gridspacer--bottom") }}
  </div>
{%- endmacro %}

{% macro render_section_header_classes(container_width) -%}
  {% set container_engaged = (container_width != 'default') %}
  {% set section_header_classes = [
    'relative',
    'grid__item',
    ('one-whole' if container_width == 'default' else container_width),
    ('tall padding--tall border--1 border--mist' if layout_controls.add_colored_border_to_container_background and container_engaged),
    ('border-radius overflow--hidden' if layout_controls.add_border_radius_to_container_background and container_engaged),
    'tablet-ten-twelfths',
    'palm-one-whole',
    'hard--ends'
  ]|reject('equalto','')|reject('equalto',null) %}
  {{ section_header_classes|join(' ')|trim }}
{%- endmacro %}


{#####################################################
  Trying to remove cognitive load by using a wrapping
  macro that removes all the default section clutter
#####################################################}
{% call render_section_shell('fullwidth', module) %}
  <div class="grid hard--ends section--fullwidth--video-{{ module.enable_lightbox_video }} relative">
    {% if module.preheader or module.header or module.content %}
      <div class="section--fullwidth--content {{ render_section_header_classes()|trim }}">
        {{ snippets.background(module.container_background) }}
        <div class="grid__item one-whole hard--top {{ 'short--bottom palm-short--bottom' if module.conversion_type != 'none' else 'hard--bottom' }} hard--sides last--hard--bottom all--text--{{ layout_controls.content_alignment }} palm-all--text--{{ layout_controls.content_alignment_mobile }} relative z-index--3">
          <div class="section--fullwidth--content-container first--hard--top last--hard--bottom flex flex-flow--column flex-align--{{ grid_alignment_desktop }} {{ snippets.textColorOverride(section_controls.text_color_override)|trim }}">
            {% if module.preheader or module.header or module.content %}
              <div class="section--fullwidth--header grid__item {{ 'ten-twelfths' if layout_controls.content_width == 'narrow' else layout_controls.content_width }} palm-one-whole hard first--hard--top last--hard--bottom">
                {% if module.preheader %}
                  <span class="h6 preheader">
                    {{ module.preheader }}
                  </span>
                {% endif %}
                {% if module.header %}
                  <h2 class="{{ section_header_size }}">
                    {{ module.header }}
                  </h2>
                {% endif %}
                {% if module.content %}
                  <div class="section--fullwidth--contents grid__item {{ layout_controls.subheader_width }} palm-one-whole hard first--hard--top last--hard--bottom">
                    {{ module.content }}
                  </div>
                {% endif %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}

    {% if module.enable_lightbox_video or module.conversion_type != 'none' %}
      <div class="grid__item one-whole hard--ends">
        {% if module.enable_lightbox_video %}
          <div class="grid__item relative one-whole tablet-one-whole palm-one-whole hard--ends all--text--{{ layout_controls.content_alignment }} palm-all--text--{{ layout_controls.content_alignment_mobile }} {{ snippets.textColorOverride(section_controls.text_color_override)|trim }}">
            <div class="block {{ snippets.deviceVisibility(module.media_device_visibility) }}">
              {% if (module.video.video_thumbnail_type != 'none')||(module.video.video_thumbnail_type_mobile != 'none') %}
                <div class="block {% if module.video.video_thumbnail_type == 'none' %}lap-and-up-visuallyhidden tablet-visuallyhidden{% endif %} {# if module.video.video_thumbnail_type_mobile == 'none' %}palm-visuallyhidden{% endif #}" style="height: 100%; position: relative;">
                  <a class="inline-block block--video" {% if module.video.video_type == 'modal' %}data-fancybox {% if '.mp4' in module.video.video_url_of_iframe_embeddable_video_file.href %}{% else %}data-type="iframe" data-width="936" data-height="636"{% endif %} href="{{ module.video.video_url_of_iframe_embeddable_video_file.href }}"{% elif module.video.video_type == 'hubspot' %}data-src="#{{ name }}--embed" data-fancybox{% elif module.video.video_type == 'vidyard' %}href="javascript:;" onclick="launchLightbox_{{ name|replace('-','_') }}('{{ module.video.vidyard_video_uuid|trim }}');"{% endif %}>
                    {% if module.video.video_thumbnail_type == 'video' %}
                      <div class="animate--fade animate--fade-up overflow--hidden {{ 'border-radius' if module.add_media_border_radius }} {{ 'box-shadow' if module.add_media_dropshadow }}">
                        <video class="section-hero-custom--video--player" style="width: 100%; height: 100%; object-fit: cover;" src="{{ module.video.vide_gif_or_mp4_embed }}" muted="" autoplay="" loop="" playsinline="" poster="{{ module.video.vide_gif_or_mp4_embed }}" type="video/mp4"></video>
                      </div>
                    {% else %}
                      {% set sizeAttrs = 'width="{{ module.video.video_thumbnail_image.width }}" height="{{ module.video.video_thumbnail_image.height }}"' %}
                      {% if module.video.video_thumbnail_image.size_type == 'auto' %}
                        {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                      {% elif module.video.video_thumbnail_image.size_type == 'auto_custom_max' %}
                        {% set sizeAttrs = 'width="{{ module.video.video_thumbnail_image.max_width }}" height="{{ module.video.video_thumbnail_image.max_height }}" style="max-width: 100%; height: auto;"' %}
                      {% endif %}

                      {% if module.video.video_thumbnail_type == 'vidyard' %}
                        {% set thumbnailSrc = "https://play.vidyard.com/" ~ module.video.vidyard_video_uuid ~ ".jpg" %}
                        {% set sizeAttrs = 'style="max-width:100%; width:' ~ module.video.video_max_width ~ 'px"' %}
                      {% else %}
                        {% set thumbnailSrc = module.video.video_thumbnail_image.src %}
                      {% endif %}
                      <img class="block {{ 'border-radius' if module.add_media_border_radius }} {{ 'box-shadow' if module.add_media_dropshadow }} overflow--hidden" src="{{ thumbnailSrc }}" {% if section_controls.lazy_load_images %}loading="lazy"{% endif %} alt="{{ module.video.video_thumbnail_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                    {% endif %}
                  </a>
                </div>
              {% endif %}
              {% if (module.video.video_thumbnail_type == 'none')||(module.video.video_thumbnail_type_mobile == 'none') %}
                <div class="block {% if module.video.video_thumbnail_type != 'none' %}lap-and-up-visuallyhidden tablet-visuallyhidden{% endif %} {% if module.video.video_thumbnail_type_mobile != 'none' %}palm-visuallyhidden{% endif %}">
                  <a class="inline-block no--underline" {% if module.video.video_type == 'modal' %}data-fancybox {% if '.mp4' in module.video.video_url_of_iframe_embeddable_video_file.href %}{% else %}data-type="iframe" data-width="936" data-height="636"{% endif %} href="{{ module.video.video_url_of_iframe_embeddable_video_file.href }}"{% elif module.video.video_type == 'hubspot' %}data-src="#{{ name }}--embed" data-fancybox{% elif module.video.video_type == 'vidyard' %}href="javascript:;" onclick="launchLightbox_{{ name|replace('-','_') }}('{{ module.video.vidyard_video_uuid|trim }}');"{% endif %} style="width:320px;max-width:100%;">
                    <span class="block--video--icon"></span>
                    {% if module.video.video_label_text %}
                    <span class="block short--top all--text--center block--video--label {{ snippets.textColorOverride(section_controls.text_color_override)|trim }}">
                      <p class="hard--ends">
                        {{ module.video.video_label_text }}
                      </p>
                    </span>
                    {% endif %}
                  </a>
                </div>
              {% endif %}
              {% if module.video.video_label_text %}
                <div class="block short--top all--text--center block--video--label {{ snippets.textColorOverride(section_controls.text_color_override)|trim }} {% if ((module.video.video_type == 'modal')||(module.video.video_type == 'vidyard')||(module.video.video_type == 'hubspot'))&&(module.video.video_thumbnail_type == 'none') %}lap-and-up-visuallyhidden tablet-visuallyhidden{% endif %} {% if ((module.video.video_type == 'modal')||(module.video.video_type == 'vidyard')||(module.video.video_type == 'hubspot'))&&(module.video.video_thumbnail_type_mobile == 'none') %}palm-visuallyhidden{% endif %}">
                  <p class="hard--ends">
                    {{ module.video.video_label_text }}
                  </p>
                </div>
              {% endif %}
              {% if module.video.video_type == 'hubspot' %}
                {% if module.video.video_hubspot_video.player_id %}
                  <div id="{{ name }}--embed" class="video--popover all--aspectratio" style="display:none;">
                    {% set max_width  = module.video.video_hubspot_video.size_type == 'auto_custom_max' ? module.video.video_hubspot_video.max_width : module.video.video_hubspot_video.width %}
                    {% set max_height = module.video.video_hubspot_video.size_type == 'auto_custom_max' ? module.video.video_hubspot_video.max_height : module.video.video_hubspot_video.height %}
                    {% set playColor  = module.video.video_hubspot_play_button_color.color %}
                    {% video_player "embed_player"
                      placeholder_alt_text = {{ module.video.video_image_alt_tag }}
                      play_button_color    = {{ playColor }}
                      player_id            = {{ module.video.video_hubspot_video.player_id }}
                      type                 = {{ module.video.video_hubspot_video.player_type || 'scriptV4' }}
                      full_width           = {{ module.video.video_hubspot_video.size_type == 'auto_full_width' }},
                      conversion_asset     = {{ module.video.video_hubspot_video.conversion_asset|tojson|safe }}
                    %}
                  </div>
                {% endif %}
              {% endif %}
            </div>
          </div>
        {% endif %}

        {% if module.conversion_type != 'none' %}
          <div class="grid__item {{ render_section_header_classes()|trim }} hard {% if module.cta|length > 0 or module.conversion_type == 'form' %}margin--standard--top{% endif %} first--hard--top last--hard--bottom text--{{ layout_controls.content_alignment }} palm-text--{{ layout_controls.content_alignment_mobile }}">
            {% if module.conversion_type == 'cta' %}
              <span>
                {{ snippets.multiButton(module.cta) }}
              </span>
            {% elif module.conversion_type == 'form' %}
              <div class="grid__item {% if layout_controls.content_width == 'narrow' %}ten-twelfths tablet-{{ layout_controls.content_width }} palm-one-whole{% else %}{{ layout_controls.subheader_width }} tablet-{{ layout_controls.subheader_width }} palm-one-whole{% endif %} hard--sides background--white border-radius margin--tall--top padding--tall tall palm-padding--short box-shadow all--text--left all--btn all--btn--{% if module.form.form_ghost_transparent_button %}transparent--{% endif %}{{ module.form.form_button_color }} all--btn--center">
                {% if module.form.form_header %}
                  {{ module.form.form_header }}
                {% endif %}
                {% form
                  form_to_use                            = "{{ module.form.form.form_id }}"
                  response_response_type                 = "{{ module.form.form.response_type }}"
                  response_message                       = "{{ module.form.form.message }}"
                  response_redirect_id                   = "{{ module.form.form.redirect_id }}"
                  response_redirect_url                  = "{{ module.form.form.redirect_url }}"
                  gotowebinar_webinar_key                = "{{ module.form.form.gotowebinar_webinar_key }}"
                  follow_up_type_simple                  = "{{ module.form.send_a_follow_up_email }}"
                  simple_email_for_live_id               = "{{ module.form.email }}"
                  notifications_are_overridden           = "{{ module.form.send_form_notifications_to_specified_email_addresses_instead_of_the_form_defaults }}"
                  notifications_override_email_addresses = "{{ module.form.email_addresses }}"
                  no_title                               = True
                %}
              </div>
            {% endif %}
          </div>
        {% endif %}

        {% if module.below_video_content %}
          <div class="section--fullwidth--cta-content grid__item {{ container_width }} tablet-ten-twelfths palm-one-whole first--hard--top last--hard--bottom {% if container_width != 'default' %}hard--sides{% endif %}">
            {{ module.below_video_content }}
          </div>
        {% endif %}
      </div>
    {% endif %}
  </div>

  {% if (module.video.video_type == "vidyard") and (module.enable_lightbox_video) %}
    {{ require_js( "https://play.vidyard.com/embed/v4.js", { async: true } ) }}
    <div class="visuallyhidden">
      <img class="vidyard-player-embed" alt="{{ module.video.video_image_alt_tag }}" data-uuid="{{ module.video.vidyard_video_uuid|trim }}" data-type="lightbox" data-v="4">
    </div>
    {% require_js %}
      <script>
        function launchLightbox_{{ name|replace('-','_') }}(uuid) {
          // get the player(s) for the given UUID
          const players = VidyardV4.api.getPlayersByUUID(uuid);
          if (!players || players.length === 0) return;

          const player = players[0];

          // show the lightbox
          player.showLightbox();

          // wait until the player is ready, then play
          VidyardV4.api.addReadyListener((data, readyPlayer) => {
            // ensure we're dealing with the same player instance
            if (readyPlayer === player) {
              readyPlayer.play();
            }
          }, uuid);
        }
      </script>
    {% end_require_js %}
  {% endif %}
{% endcall %}