{# JS #}
{{ require_js(get_asset_url('/IM-IMPACT-Design-System-V2/modules/_custom/Featured Cards and Form/Featured Cards and Form.js'), {defer: true } ) }}

{# CSS #}
{{ require_css(get_asset_url('/IM-IMPACT-Design-System-V2/modules/_custom/Featured Cards and Form/Featured Cards and Form.css'), { async: true } ) }}

{% set rowNum = "4" %}
{% set contentClasses = "four-twelfths tablet-four-twelfths palm-one-whole" %}
{% if module.block_controls.column_widths == "three-twelfths" %}
{% set rowNum = "4" %}
{% set contentClasses = "three-twelfths tablet-three-twelfths palm-one-whole" %}
{% elif module.block_controls.column_widths == "four-twelfths" %}
{% set rowNum = "3" %}
{% set contentClasses = "four-twelfths tablet-one-half palm-one-whole" %}
{% elif module.block_controls.column_widths == "six-twelfths" %}
{% set rowNum = "2" %}
{% set contentClasses = "one-half palm-one-whole" %}
{% elif module.block_controls.column_widths == "one-whole" %}
{% set rowNum = "1" %}
{% set contentClasses = "one-whole tablet-one-whole palm-one-whole hard--sides" %}
{% endif %}

<div class="section section--card-content-columns relative agency---lazy--default {{ module.section_controls.device_visibility }}">
  {{ snippets.background(module.background) }}
  <div class="block relative z-index--20">
    <div class="grid {{ module.spacing.top_padding }} {{ module.spacing.bottom_padding }} {{ module.spacing.top_padding_mobile }} {{ module.spacing.bottom_padding_mobile }} lap-and-up-text--{{ module.section_controls.content_alignment_desktop }} portable-text--{{ module.section_controls.content_alignment_mobile }}">
      {% if module.header || module.subheader %}
      <div {% if module.section_controls.anchor_id %}id="{{ module.section_controls.anchor_id|trim }}"{% endif %} class="section--section--icon-content-headings grid__item one-whole palm-one-whole short--top margin--short--bottom hard--sides hard--ends">
        <div class="block text--{% if module.section_controls.column_alignment %}{{ module.section_controls.column_alignment }}{% else %}left{% endif %}">
          {% if module.header %}
          <div class="grid__item lap-and-up-all--text--{{  module.section_controls.content_alignment_desktop }} portable-all--text--{{ module.section_controls.content_alignment_mobile }} {{ module.section_heading_width }} tablet-ten-twelfths palm-one-whole hard--ends {{ module.section_controls.text_color_override }} first--hard--top  {% if not module.subheader %}last--hard--bottom{% endif %}"> 
            {{ module.header|replace(';"',' !important;"')|replace('<h1>','<span class="h1 hard--bottom">')|replace('</h1>','</span>') }}
          </div>
          {% endif %}
          {% if module.subheader %}
          <div class="grid__item lap-and-up-all--text--{{ module.section_controls.content_alignment_desktop }} portable-all--text--{{ module.section_controls.content_alignment_mobile }} {{ module.subheader_width }} tablet-ten-twelfths palm-one-whole hard--ends {{ module.section_controls.text_color_override }} first--hard--top last--hard--bottom" style="{% if module.header %}margin-top: -10px !important;{% endif %}"> 
            {{ module.subheader|replace(';"',' !important;"')|replace('<h1>','<span class="h1 hard--bottom">')|replace('</h1>','</span>') }}
          </div>
          {% endif %}
        </div>  
      </div>
      {% endif %} 

      <div class="section--card-content-columns-headings--content-columns">
        <div class="section--card-content-columns--grid grid__item {{ module.block_controls.column_container_width }} palm-one-whole hard--ends hard--sides">
          <div class="section--card-content-columns--center flex flex-justify--center all--text--{{ module.block_controls.content_alignment }}">

            {% for item in module.icon_and_content_columns %}
            <div class="section--icon-content-column-group grid__item {{ contentClasses }} hard--top hard--bottom lap-and-up-flex tablet-flex flex-justify--center animate--fade animate--fade-up animate--fade-delay-list--{{ loop.index + 1 }} margin--standard--top relative z-index--30">
              <div class="section--card-content-columns-container flex overflow--hidden border--1 border--mist" style="width: 100%; flex-direction: column;">
                {% if item.media_type == "image" %}
                <div class="overflow--hidden section--resource-slider--featured-image-wrapper relative">
                  <div class="section--resource-slider--featured-image grid__item one-whole hard lazy" role="img" aria-label="{{ item.resource_image.alt }}" data-bg="{{ item.resource_image.src }}" style="background-size: cover; background-position:center center; background-repeat:no-repeat;">
                    <span class="aspectspacer-{{ module.block_controls.card_image_aspect_ratio }}"></span>
                  </div>
                </div>
                {% endif %}
                <div class="section--card-content-columns-wrapper relative width--max hard--top halign--flex--{{ module.block_controls.content_alignment }}">
                  <div class="section--card-content-columns-inner text--center {{ module.section_controls.text_color_override }} p--{{ module.block_controls.paragraph_font_size_option }}">
                    {% if item.media_type == "icon" %}
                    {% if item.icon_svg == 'none' %}
                    {% else %}
                    <div class="section--richtext-columns--icon relative margin--short--bottom">
                      {{ snippets.svg(item.icon_svg) }}
                    </div>
                    {% endif %}
                    {% endif %}
                    <div class="section--card-content-columns-description header--serif hard--ends last--hard--bottom">{{ item.description }}</div>
                  </div>
                  <div class="section--richtext-columns--button-container" style="text--{% if module.section_controls.column_alignment %}{{ module.section_controls.column_alignment }}{% else %}left{% endif %}">
                    {% if ((item.cta.cta_type == "cta")&&(item.cta.cta))||((item.cta.cta_type == "link")&&(item.cta.cta_hyperlink.href)&&(item.cta.cta_button_text))||((item.cta.cta_type == "anchor")&&(item.cta.cta_section_anchor_id)&&(item.cta.cta_button_text)) %}
                    <span class="section--cards--card--body--cta">
                      <span class="p all--btn all--btn--{% if item.cta.cta_ghost_transparent_button %}transparent--{% endif %}{{ item.cta.cta_button_color }} margin--petite--top hard--bottom">
                        {% if item.cta.cta_type == "cta" %}
                        {{ cta(item.cta.cta) }}
                        {% elif ( (item.cta.cta_type == "link") && (item.cta.cta_hyperlink.href) &&  (item.cta.cta_button_text) ) || (item.cta.cta_type == "anchor") %}
                        <a class="section--cards--card--link no--underline border--0 card--hover text--{{ module.layout_controls.cards_content_alignment }} palm-text--{{ module.layout_controls.cards_content_alignment_mobile }}" title="{% if item.cta.cta_title_attribute %}{{ item.cta.cta_title_attribute }}{% else %}{{ item.cta.cta_button_text }}{% endif %}" href="{% if item.cta.cta_type == 'anchor' %}#{{ item.cta.cta_section_anchor_id|replace('#','') }}{% else %}{% if item.cta.cta_hyperlink.type == 'EMAIL_ADDRESS' %}mailto:{% endif %}{{ item.cta.cta_hyperlink.href }}{% endif %}" {% if (item.cta.cta_type == "link")&&(item.cta.cta_open_in_new_tab) %}target="_blank"{% endif %}>
                          <span class="btn btn--{% if item.cta.cta_ghost_transparent_button %}transparent--{% endif %}{{ item.cta.cta_button_color }}">
                            {{ item.cta.cta_button_text }}
                          </span>
                        </a>
                        {% endif %}
                      </span>
                    </span>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

          {% if module.show_form_section %}
          {# Form #}
          <div class="section--card-columns--form-container grid__item one-whole margin--standard--top tall--top tall--bottom padding--grande portable-tall tablet-padding--tall palm-padding--short animate--fade animate--fade-up animate--fade-delay-list--{{ module.icon_and_content_columns|length + 1 }} background--offwhite border--1 border--mist">
            <div class="learningCenter--subscribe-form-wrapper text--center">
              <div class="grid__item nine-twelfths portable-one-whole palm-one-whole hard--ends text--center">
                <h4 class="learningCenter--subscribe-form-header bolder hard--top">
                  {{ module.subscribe_form.form_header }}
                </h4>
              </div>
              <div class="learningCenter--subscribe-form-btn all--btn all--btn--blue">
                <div id="learningCenter--subscribe-form-target" data-subId="{{ module.subscribe_form.form_settings.form_id }}"></div>
              </div>
            </div>
          </div>
          {# End Form #}      
          {% endif %}
        </div>
      </div>
      {{ snippets.sectionPaddingCustomStyles(name,module.section_controls.spacing,".gridspacer--top",".gridspacer--bottom") }}
    </div>
  </div>
</div>