<!-- @dsCard group="Sections" viewport="760x460" name="Video Feature" subtitle="Video poster with play button and name overlay" -->
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="../../../styles.css">
<style>body{margin:0;background:var(--surface-page);font-family:var(--font-body)}</style>
</head>
<body>
<div id="root"></div>
<script src="https://unpkg.com/react@18.3.1/umd/react.development.js" integrity="sha384-hD6/rw4ppMLGNu3tX5cjIb+uRZ7UkRJ6BPkLpg4hAu/6onKUg4lLsHAs9EBPT82L" crossorigin="anonymous"></script>
<script src="https://unpkg.com/react-dom@18.3.1/umd/react-dom.development.js" integrity="sha384-u6aeetuaXnQ38mYT8rp6sbXaQe3NL9t+IBXmnYxwkUI2Hw4bsp2Wvmx4yRQF1uAm" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@babel/standalone@7.29.0/babel.min.js" integrity="sha384-m08KidiNqLdpJqLq95G/LEi8Qvjl/xUYll3QILypMoQ65QorJ9Lvtp2RXYGBFj1y" crossorigin="anonymous"></script>
<script src="../../../_ds_bundle.js"></script>
<script type="text/babel">
const { VideoFeature } = window.IMPACTDesignSystem_9efa99;
const PHOTO = "https://www.impactplus.com/hubfs/impact_site_2025_IM-UI/assets/homepage/Homepage_Featured_image.jpg";
ReactDOM.createRoot(document.getElementById("root")).render(<div style={{padding:"40px",maxWidth:640,margin:"0 auto"}}><VideoFeature poster={PHOTO} label="Taffy Ragan" sublabel="GM, Bill Ragan Roofing Company"/></div>);
</script>
</body>
</html>