{# CSS #}
{{ require_css( get_asset_url("../Left-Right Form with Image or Media.css"), { async: true} ) }}

{# FORM COLUMN WIDTH #}
{% set formClasses = "one-half tablet-ten-twelfths palm-one-whole" %}

{% if module.layout_controls.column_widths == "four-twelfths" %}
{% set formClasses = "eight-twelfths tablet-ten-twelfths palm-one-whole" %}
{% elif module.layout_controls.column_widths == "eight-twelfths" %}
{% set formClasses = "four-twelfths tablet-ten-twelfths palm-one-whole" %}
{% elif module.layout_controls.column_widths == "five-twelfths" %} 
{% set formClasses = "seven-twelfths tablet-ten-twelfths palm-one-whole" %}
{% elif module.layout_controls.column_widths == "seven-twelfths" %}
{% set formClasses = "five-twelfths tablet-ten-twelfths palm-one-whole" %} 
{% endif %}

{# CONTENT COLUMN WIDTH #}
{% set contentClasses = "five-half-twelfths portable-one-whole" %}

{% if module.layout_controls.column_widths == "four-twelfths" %}
{% set contentClasses = "three-half-twelfths tablet-ten-twelfths palm-one-whole" %}
{% elif module.layout_controls.column_widths == "eight-twelfths" %}
{% set contentClasses = "five-half-twelfths tablet-ten-twelfths palm-one-whole" %}
{% elif module.layout_controls.column_widths == "five-twelfths" %}
{% set contentClasses = "four-half-twelfths tablet-ten-twelfths palm-one-whole" %}
{% elif module.layout_controls.column_widths == "seven-twelfths" %}
{% set contentClasses = "six-half-twelfths tablet-ten-twelfths palm-one-whole" %}
{% endif %}


<div {% if module.section_controls.anchor_id %}id="{{ module.section_controls.anchor_id|trim }}"{% endif %} class="section section--leftrightmediaform relative overflow--hidden {{ snippets.deviceVisibility(module.section_controls.device_visibility)|trim }}">
  {{ snippets.background(module.background) }}
  {% if widget_data.controls.header_design == "transparent" %}
  <div class="header--anchor"></div>
  {% endif %}
  <div class="block relative z-index--3">
    {{ snippets.swoopSpacerTop(module.background) }}

    {% if ( not module.disable_breadcrumbs ) and widget_data.breadcrumb_controls.show_breadcrumbs %}
    <div class="section--breadcrumbs">
      <div class="grid hard--ends">
        <div class="grid__item one-whole short--top hard--bottom palm-hard--bottom text--left {{ snippets.textColorOverride(module.section_controls.text_color_override)|trim }}">
          {% menu id="{{ widget_data.breadcrumb_controls.breadcrumbs.breadcrumbs_menu }}", root_type="breadcrumb" %}
        </div>
      </div>
    </div>
    {% endif %}

    <div class="block gridspacer--top {{ snippets.sectionPadding(module.section_controls.spacing,"top")|trim }}">

    </div>

    {% if module.header || module.preheader %}
    {% if module.layout_controls.header_location == 'above' %}
    <div class="grid relative hard--ends {{ snippets.textColorOverride(module.section_controls.text_color_override)|trim }} all--text--{{ module.layout_controls.header_content_alignment }} palm-all--text--{{ module.layout_controls.header_content_alignment_mobile }}">
      <div class="grid__item eight-twelfths tablet-ten-twelfths palm-one-whole hard--top tall--bottom palm-short--bottom first--hard--top last--hard--bottom all--text--{{ module.layout_controls.header_content_alignment }} palm-all--text--{{ module.layout_controls.header_content_alignment_mobile }}">
        {% if module.preheader %}
        <span class="h6 preheader">
          {{ module.preheader }}
        </span>
        {% else %}
        <div class="header--rule"></div>
        {% endif %}
        {% if module.header %}
        <h2 class="{{ module.header_font_size }}">{{ module.header }}</h2>
        {% endif %}
      </div>
    </div>
    {% endif %}
    {% endif %}

    <div class="grid flexgrid {{ module.layout_controls.content_vertical_alignment }} {% if module.layout_controls.content_position_mobile == 'bottom' %}palm-column--reverse{% endif %} {% if module.layout_controls.content_position == 'right' %}row--reverse{% endif %} portable-justify--center hard--ends">
      <div class="grid__item {{ contentClasses }} short first--hard--top last--hard--bottom text--left {{ snippets.textColorOverride(module.section_controls.text_color_override)|trim }}">
        {% if module.header || module.preheader %}
        {% if module.layout_controls.header_location == 'left' %}
        <div class="grid relative hard--ends {{ snippets.textColorOverride(module.section_controls.text_color_override)|trim }} all--text--{{ module.layout_controls.header_content_alignment }} palm-all--text--{{ module.layout_controls.header_content_alignment_mobile }}">
          <div class="grid__item one-whole palm-one-whole hard--top tall--bottom palm-short--bottom first--hard--top last--hard--bottom all--text--{{ module.layout_controls.header_content_alignment }} palm-all--text--{{ module.layout_controls.header_content_alignment_mobile }}">
            {% if module.preheader %}
            <span class="h6 preheader">
              {{ module.preheader }}
            </span>
            {% endif %}
            {% if module.header %}
            <h2 class="{{ module.header_font_size }}">{{ module.header }}</h2>
            {% endif %}
          </div>
        </div>
        {% endif %}
        {% endif %}
        <div class="flexgrid {% if module.media_location == 'above' %}column--reverse no--wrap{% else %}direction--column no--wrap{% endif %}">
          <div class="section--leftrightmediaform--content block first--hard--top {% if module.layout_controls.content_position_mobile == 'split' %}portable-visuallyhidden{% endif %}">
            {% if 'above' == module.bullets.bullets_location %}
            {{ snippets.bulletsList(module.bullets) }}
            {% endif %}

            {{ module.content }}
            
            {% if 'below' == module.bullets.bullets_location %}
            {{ snippets.bulletsList(module.bullets) }}
            {% endif %}
          </div>
          {% if module.media_type == 'image' %}
          <div class="block {% if module.media_location == 'above' %}margin--short--bottom{% else %}margin--tall--top{% endif %}">

            {% if module.image.image.src %}
            {% set sizeAttrs = 'width="{{ module.image.image.width }}" height="{{ module.image.image.height }}"' %}
            {% if module.image.image.size_type == 'auto' %}
            {% set sizeAttrs = 'width="{{ module.image.image.width }}" height="{{ module.image.image.height }}" style="max-width: 100%; height: auto;"' %}
            {% elif module.image.image.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ module.image.image.max_width }}" height="{{ module.image.image.max_height }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
            <img class="block {{ 'border-radius' if module.add_media_border_radius }} {{ 'box-shadow' if module.add_media_dropshadow }} overflow--hidden" src="{{ module.image.image.src }}" alt="{{ module.image.image.alt }}" {{ sizeAttrs }}>

          </div>
          {% endif %}

          {% elif module.media_type == 'video' %}
          <div class="block {% if module.media_location == 'above' %}margin--short--bottom{% else %}margin--tall--top{% endif %}">
            {% if module.video.video_type == "embed" %}
            <div class="block all--aspectratio {{ 'border-radius' if module.add_media_border_radius }} {{ 'box-shadow' if module.add_media_dropshadow }} overflow--hidden">
              {{ module.video.video_embed_code }}
            </div>
            {% elif (module.video.video_type == "modal")||(module.video.video_type == "vidyard")||(module.video.video_type == "hubspot") %}
            <div class="block {{ 'border-radius' if module.add_media_border_radius }} {{ 'box-shadow' if module.add_media_dropshadow }} overflow--hidden text--center {% if module.video.video_thumbnail_type == 'none' %}lap-and-up-visuallyhidden tablet-visuallyhidden{% endif %} {% if module.video.video_thumbnail_type_mobile == 'none' %}palm-visuallyhidden{% endif %}">
              <a
                 class="block block--video"
                 {% if module.video.video_type == "modal" %}
                 data-fancybox
                 href="{{ module.video.video_url_of_iframe_embeddable_video_file.href }}"
                 {% elif module.video.video_type == 'hubspot' %}
                 data-src="#{{ name }}--embed"
                 data-fancybox
                 {% elif module.video.video_type == "vidyard" %}
                 href="javascript:;" onclick="launchLightbox_{{ name|replace('-','_') }}('{{ module.video.vidyard_video_uuid|trim }}');"
                 {% endif %}
                 >
                <img class="block {{ 'border-radius' if module.add_media_border_radius }} {{ 'box-shadow' if module.add_media_dropshadow }} overflow--hidden" src="{{ module.video.video_thumbnail_image.src }}" alt="{{ module.video.video_thumbnail_image.alt }}" width="{% if (module.video.video_thumbnail_image.size_type == 'auto_custom_max') %}{{ module.video.video_thumbnail_image.max_width }}{% elif (module.video.video_thumbnail_image.size_type == 'exact') %}{{ module.video.video_thumbnail_image.width }}{% else %}{{ module.video.video_thumbnail_image.width }}{% endif %}" height="{% if (module.video.video_thumbnail_image.size_type == 'auto_custom_max') %}{{ module.video.video_thumbnail_image.max_height }}{% else %}{{ module.video.video_thumbnail_image.height }}{% endif %}" />
              </a>
            </div>
            {% endif %}
            {% if module.video.video_type == 'hubspot' %}
            {% if module.video.video_hubspot_video.player_id %}
            <div id="{{ name }}--embed" class="video--popover all--aspectratio" style="display:none;">
              {% set max_width  = module.video.video_hubspot_video.size_type == 'auto_custom_max' ? module.video.video_hubspot_video.max_width : module.video.video_hubspot_video.width %}
              {% set max_height = module.video.video_hubspot_video.size_type == 'auto_custom_max' ? module.video.video_hubspot_video.max_height : module.video.video_hubspot_video.height %}
              {% set playColor  = module.video.video_hubspot_play_button_color.color %}
              {% video_player "embed_player"
											placeholder_alt_text = {{ module.video.video_image_alt_tag }}
											play_button_color    = {{ playColor }}
											player_id            = {{ module.video.video_hubspot_video.player_id }}
											type                 = {{ module.video.video_hubspot_video.player_type || 'scriptV4' }}
											full_width           = {{ module.video.video_hubspot_video.size_type == 'auto_full_width' }},
											conversion_asset     = {{ module.video.video_hubspot_video.conversion_asset|tojson|safe }}
										%}
            </div>
            {% endif %}
            {% endif %}
            {% if module.video.video_label_text %}
            <div class="block short--top all--text--center block--video--label {{ snippets.textColorOverride(module.section_controls.text_color_override)|trim }} {% if ((module.video.video_type == 'modal')||(module.video.video_type == 'vidyard')||(module.video.video_type == 'hubspot'))&&(module.video.video_thumbnail_type == 'none') %}lap-and-up-visuallyhidden tablet-visuallyhidden{% endif %} {% if ((module.video.video_type == 'modal')||(module.video.video_type == 'vidyard')||(module.video.video_type == 'hubspot'))&&(module.video.video_thumbnail_type_mobile == 'none') %}palm-visuallyhidden{% endif %}">
              <p class="hard--ends">
                {{ module.video.video_label_text }}
              </p>
            </div>
            {% endif %}
          </div>
          {% endif %}
        </div>
        {% if module.media_location == 'below' %}
        {{ module.content_below_media }}
        {% endif %}
        {% if module.show_share_links %}
        <div class="section--leftrightmediaform--share margin--tall--top">
          {% if module.share_links.share_type == "custom" %}
          {% set urlToShare = module.share_links.url_of_page_to_share.url %}
          {% else %}
          {% set urlToShare = content.absolute_url %}
          {% endif %}
          <a class="section--leftrightmediaform--share--icon section--leftrightmediaform--share--icon--facebook" rel="noopener" target="_blank" title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ urlToShare }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"/></svg>
          </a>
          <a class="section--leftrightmediaform--share--icon section--leftrightmediaform--share--icon--twitter" rel="noopener" target="_blank" title="Share on Twitter" href="https://twitter.com/intent/tweet?url={{ urlToShare }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>
          </a>
          <a class="section--leftrightmediaform--share--icon section--leftrightmediaform--share--icon--linkedin" rel="noopener" target="_blank" title="Share on LinkedIn" href="https://www.linkedin.com/shareArticle?url={{ urlToShare }}&title={{ content.html_title|urlencode }}&summary={{ content.meta_description|urlencode }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"/></svg>
          </a>
        </div>
        {% endif %}
      </div>

      <div class="grid__item {{ formClasses }} short {% if module.layout_controls.content_position_mobile == 'split' %}portable-hard--top{% endif %}">
        <div {% if module.conversion_type == 'hs-form' %}id="section--leftrightmediaform--form-wrapper"{% endif %} class="section--leftrightmediaform--form border-radius background--{{ module.layout_controls.form_background_color }} {% if module.layout_controls.form_background_color == "white" %}box-shadow{% endif %}">
          <div class="block {% if module.conversion_type == 'hs-form' %} tall padding--tall {% elif module.conversion_type == 'typeform' %} {{ module.typeform.typeform_form_header ? 'tall--top' : 'hard--top' }} hard--bottom {% else %} hard--ends {% endif %} all--btn all--btn--{% if module.form.form_ghost_transparent_button %}transparent--{% endif %}{{ module.form.form_button_color }} all--btn--{{ module.layout_controls.form_button_alignment }} palm-all--btn--{{ module.layout_controls.form_button_alignment_mobile }}">
            {% if module.conversion_type == 'hs-form' %}
            {% if module.form.form_header %}
            <div class="first--hard--top section--leftrightmediaform--form--header text--{{ module.layout_controls.form_title_alignment }} palm-text--{{ module.layout_controls.form_title_alignment_mobile }}">
              {{ module.form.form_header }}
            </div>
            {% endif %}
            {% form
                form_to_use                            = "{{ module.form.form.form_id }}"
                response_response_type                 = "{{ module.form.form.response_type }}"
                response_message                       = "{{ module.form.form.message }}"
                response_redirect_id                   = "{{ module.form.form.redirect_id }}"
                response_redirect_url                  = "{{ module.form.form.redirect_url }}"
                gotowebinar_webinar_key                = "{{ module.form.form.gotowebinar_webinar_key }}"
                follow_up_type_simple                  = "{{ module.form.send_a_follow_up_email }}"
                simple_email_for_live_id               = "{{ module.form.email }}"
                notifications_are_overridden           = "{{ module.form.send_form_notifications_to_specified_email_addresses_instead_of_the_form_defaults }}"
                notifications_override_email_addresses = "{{ module.form.email_addresses }}"
                no_title                               = True
              %}
            {% elif module.conversion_type == 'hs-calendar' %}
            {% if module.hubspot_meeting_calendar.form_header %}
            <div class="first--hard--top padding--tall section--leftrightmediaform--form--header text--{{ module.layout_controls.form_title_alignment }} palm-text--{{ module.layout_controls.form_title_alignment_mobile }}">
              {{ module.hubspot_meeting_calendar.form_header }}
            </div>
            {% endif %}
            <div class="meetings-iframe-container" data-src="{{ module.hubspot_meeting_calendar.hubspot_meeting_calendar }}?embed=true" data-ab="{{ content.ab }}" data-ab-status="{{ content.abStatus }}" data-content-id="{{ content.id }}"></div>
            {% require_js %}
            <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js" data-hs-ignore="true"></script>
            {% end_require_js %}
            {% elif module.conversion_type == 'calendly' %}
            {% if module.calendly.calendly_header %}
            <div class="first--hard--top padding--tall section--leftrightmediaform--form--header text--{{ module.layout_controls.form_title_alignment }} palm-text--{{ module.layout_controls.form_title_alignment_mobile }}">
              {{ module.calendly.calendly_form_header }}
            </div>
            {% endif %}
            {% require_js %}
            <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
            {% end_require_js %}
            <script>
              document.addEventListener('DOMContentLoaded', function () {
                Calendly.initInlineWidget({
                  url: '{{ module.calendly.calendly_url }}',
                  parentElement: document.getElementById('{{ name|replace('-','_') }}--calendly'),
                  prefill: {},
                                          utm: {}
                                        });
              });
            </script>
            <div id="{{ name|replace('-','_') }}--calendly" style="width: 100%; height: 1000px;"></div>
            {% elif module.conversion_type == 'typeform' %}
            {% if module.typeform.typeform_form_header %}
            <div class="first--hard--top padding--tall section--leftrightmediaform--form--header text--{{ module.layout_controls.form_title_alignment }} palm-text--{{ module.layout_controls.form_title_alignment_mobile }}">
              {{ module.typeform.typeform_form_header }}
            </div>
            {% endif %}

            <div data-tf-live="{{ module.typeform.typeform_form_id }}"></div>
            {% require_js %}
            <script src="//embed.typeform.com/next/embed.js"></script>
            {% end_require_js %}
            {% endif %}
          </div>
        </div>
      </div>

      {% if module.layout_controls.content_position_mobile == 'split' %}
      <div class="section--leftrightmediaform--content grid__item one-whole hard--ends block first--hard--top lap-and-up-visuallyhidden all--text--{{ module.layout_controls.header_content_alignment }} palm-all--text--{{ module.layout_controls.content_alignment_mobile }}">
        {% if 'above' == module.bullets.bullets_location %}
        {{ snippets.bulletsList(module.bullets) }}
        {% endif %}
        {{ module.content }}
        {% if 'below' == module.bullets.bullets_location %}
        {{ snippets.bulletsList(module.bullets) }}
        {% endif %}
        {# {{ snippets.button(module.content_mobile_cta) }} #}
      </div>
      {% endif %}

    </div>
    {% if (module.video.video_type == "vidyard") && (module.enable_video != 'none') %}
    {{ require_js( "https://play.vidyard.com/embed/v4.js", { async: true } ) }}
    <div class="visuallyhidden">
      <img class="vidyard-player-embed" alt="{{ module.video.vidyard_video_image_alt_tag }}" data-uuid="{{ module.video.vidyard_video_uuid|trim }}" data-type="lightbox" data-v="4">
    </div>
    <script>
      function launchLightbox_{{ name|replace('-','_') }}(uuid) {
        var players = VidyardV4.api.getPlayersByUUID(uuid);
        var player = players[0];
        player.showLightbox();
      }
    </script>
    {% endif %}
    <div class="block gridspacer--bottom {{ snippets.sectionPadding(module.section_controls.spacing,"bottom")|trim }}">

    </div>
    {{ snippets.swoopSpacerBottom(module.background) }}
  </div>
  {{ snippets.sectionPaddingCustomStyles(name,module.section_controls.spacing,".gridspacer--top",".gridspacer--bottom") }}
</div>