<!--
  templateType: error_page
  isAvailableForNewContent: true
  label: 500 Error - IMPACT Production Theme
-->

{% extends "../layouts/base.html" %}

{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle    = "500 - Error Loading Page" %}
{% set body_classes = 'pagetype--site pagetype--fourohfour header--static' %}

{% block body %}
<div class="header--anchor"></div>
<section class="content-wrapper">
	<div class="error-page" data-error="404">
		<div class="grid relative z-index--2 basic palm-tall">
			<div class="grid__item eight-twelfths tablet-ten-twelfths palm-one-whole hard--ends text--center">
			{% module_block module "module_1564415165464116" module_id=1155639, overrideable=True, path='@hubspot/rich_text', per_widget_wrapper_html='', widget_name='Rich Text', wrapping_html='', label='Rich Text' %}
				{% module_attribute "html" %}
				<h1>500: Failed to Load Page</h1>
				<p><strong>We’re sorry, this content is temporarily unavailable.</strong></p>
				<p>Please try refreshing the page or waiting a few minutes.</p>
				{% end_module_attribute %}
			{% end_module_block %}
			</div>
		</div>
		<span class="clear"></span>
	</div>
</section>
{% endblock body %}
