<!--
  templateType: email_subscription_preferences_page
  isAvailableForNewContent: true
  label: Email Subscription Preferences - IMPACT Production Theme
-->

{% set template_css = "../../css/templates/subscription.css" %}
{% extends "../layouts/base.html" %}

{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle    = "Subscription preferences" %}
{% set body_classes = 'pagetype--site pagetype--subscription header--static'%}

{% block body %}
<div class="header--anchor"></div>
<section class="content-wrapper">
	<div class="systems-page">
		<div class="grid relative z-index--2 basic palm-tall">
			<div class="grid__item eight-twelfths tablet-ten-twelfths palm-one-whole hard--ends text--left all--btn all--btn--primary">
			{% email_subscriptions
				"email_subscriptions"
				button_text                   = 'Update communications preferences',
				header                        = 'Communication Preferences',
				resubscribe_button_text       = 'Yes, resubscribe me!',
				subheader_text                = '<p>\nIf this is not your email address, please ignore this page since the email associated with this page was most likely forwarded to you.\n</p>',
				unsubscribe_all_option        = 'No more calls, no more texts - we\'re breaking up.',
				unsubscribe_all_text          = 'Or check here to never receive any emails',
				unsubscribe_all_unsubbed_text = 'You are presently unsubscribed from all of our emails. Would you like to receive our emails again?',
				unsubscribe_single_text       = 'Uncheck the types of emails you do not want to receive:',
				label                         = 'Subscription Preferences'
				%}
			</div>
			<span class="clear"></span>
		</div>
	</div>
</section>
{% endblock body %}
