{{ require_css( get_asset_url("../FAQs.css"), { async: false } ) }}

{#####################################################
  MARK: Map Module Controls -> Variables
#####################################################}
{% set header_content_width  = module.layout_controls.header_content_width %}
{% set faqs_content_width    = module.layout_controls.faqs_content_width %}
{% set faqs_background_color = module.layout_controls.faq_question_answer_background_color %}

{#####################################################
  MARK: Macros
#####################################################}
{% macro render_section_shell(section_slug, module) -%}
  <div {{ 'id="' ~ module.section_controls.anchor_id|trim ~ '"' if module.section_controls.anchor_id }} class="section section--{{ section_slug }} relative overflow--hidden {{ snippets.deviceVisibility(module.section_controls.device_visibility)|trim }}">
    {{ snippets.background(module.background) }}
    <div class="block relative z-index--3">
      <div class="section--{{ section_slug }}--inner">
        {{ snippets.swoopSpacerTop(module.background) }}
        <div class="block gridspacer--top {{ snippets.sectionPadding(module.section_controls.spacing,"top")|trim }}">

        </div>

        {{ caller() }}

        <div class="block gridspacer--bottom {{ snippets.sectionPadding(module.section_controls.spacing,"bottom")|trim }}">

        </div>
        {{ snippets.swoopSpacerBottom(module.background) }}
      </div>
    </div>
    {{ snippets.sectionPaddingCustomStyles(name,module.section_controls.spacing,".gridspacer--top",".gridspacer--bottom") }}
  </div>
{%- endmacro %}

{% macro render_content_widths(control_value) -%}
  {% set content_widths = [
    'palm-one-whole',
    'tablet-ten-twelfths'
  ] %}
  {% if 'narrow' == control_value %}
    {% do content_widths.append('eight-twelfths') %}
  {% elif 'default' == control_value %}
    {% do content_widths.append('one-whole') %}
  {% else %}
    {% do content_widths.append(control_value) %}
  {% endif %}
  {{ content_widths|reverse|join(' ') }}
{%- endmacro %}

{% macro render_individual_faq_classes(background_color) -%}
  {% set faq_classes = [] %}
  {% if background_color not in ['white','none'] %}
    {% do faq_classes.append('background--' ~ background_color) %}
    {% do faq_classes.append('border-radius--10') %}
    {% do faq_classes.append('padding--short') %}
    {% do faq_classes.append('margin--short--bottom') %}
  {% endif %}
  {{ faq_classes|join(' ')|trim }}
{%- endmacro %}

{#####################################################
  Trying to remove cognitive load by using a wrapping
  macro that removes all the default section clutter
#####################################################}
{% call render_section_shell('faqs', module) %}
  {% if module.header or module.content or module.preheader %}
    <div class="grid hard--ends {{ snippets.textColorOverride(module.section_controls.text_color_override)|trim }} text--{{ module.layout_controls.container_placement }}">
      <div class="grid__item {{ render_content_widths(header_content_width)|trim }} hard--top tall--bottom palm-short--bottom first--hard--top last--hard--bottom all--text--{{ module.layout_controls.header_content_alignment }} palm-all--text--{{ module.layout_controls.header_content_alignment_mobile }}">
        {% if module.preheader %}
          <span class="h6 preheader">
            {{ module.preheader }}
          </span>
        {% endif %}
        {% if module.header %}
          <h2>
            {{ module.header }}
          </h2>
        {% endif %}
        {{ module.content }}
      </div>
    </div>
  {% endif %}

  {% if module.faqs|length %}
    <div class="grid hard--ends {{ snippets.textColorOverride(module.section_controls.text_color_override)|trim }} text--{{ module.layout_controls.container_placement }}">
      <div class="grid__item {{ render_content_widths(faqs_content_width)|trim }} hard--ends text--left">
        {% for faq in module.faqs %}
          <div class="section--faqs--faq {{ render_individual_faq_classes(faqs_background_color) }}">
            <div class="section--faqs--faq--toggle" tabindex="0">
              <{{ 'h3' if module.header else 'h2' }} class="hard--ends h4">
                {{ faq.faq_header }}
              </{{ 'h3' if module.header else 'h2' }}>
              <div class="section--faqs--faq--toggle--icon">
                <div class="icon--axis icon--vertical--line"></div>
                <div class="icon--axis icon--horizontal--line"></div>
              </div>
            </div>
            <div class="section--faqs--faq--content" style="display:none;">
              <div class="section--faqs--faq--content--wrapper">
                <div class="section--faqs--faq--content--inner first--hard--top last--hard--bottom">
                  {{ faq.faq_content }}
                </div>
                <div class="section--faqs--faq--content--inner--spacer"></div>
                <span class="clear"></span>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if snippets.multiButton(module.cta) %}
    <div class="grid hard--ends {{ snippets.textColorOverride(module.section_controls.text_color_override)|trim }}">
      <div class="grid__item one-whole tall--top palm-short--top hard--bottom first--hard--top last--hard--bottom {{ snippets.textColorOverride(module.section_controls.text_color_override)|trim }} all--text--{{ module.layout_controls.header_content_alignment }} palm-all--text--{{ module.layout_controls.header_content_alignment_mobile }}">
        {{ snippets.multiButton(module.cta) }}
      </div>
    </div>
  {% endif %}
{% endcall%}

