{# CSS #}
{{ require_css( get_asset_url("../Vertical Content Slider Float.css"), { async: true} ) }}

<div {% if module.section_controls.anchor_id %}id="{{ module.section_controls.anchor_id|trim }}"{% endif %} class="{{ name }} section section--verticalcontentsliderfloat {% if not module.layout_controls.disable_scroll %}section--verticalcontentsliderfloat--scroll{% endif %}  relative overflow--hidden {{ snippets.deviceVisibility(module.section_controls.device_visibility)|trim }}">
  {{ snippets.background(module.background) }}
  <div class="block relative z-index--3">
    {{ snippets.swoopSpacerTop(module.background) }}
    <div class="block gridspacer--top {{ snippets.sectionPadding(module.section_controls.spacing,"top")|trim }}">

    </div>
    <div class="grid hard--ends">
      <div class="flexgrid section--verticalcontentsliderfloat--anchor section--verticalcontentsliderfloat--scrollwrapper relative">
        <div class="section--verticalcontentsliderfloat--panel grid__item five-half-twelfths palm-one-whole hard--ends {% if module.content %}palm-margin--tall--bottom{% endif %} text--right {{ module.layout_controls.content_alignment_mobile }} {{ snippets.textColorOverride(module.section_controls.text_color_override)|trim }}">
          <div class="section--verticalcontentsliderfloat--scrollitem--outer">
            <div class="section--verticalcontentsliderfloat--scrollitem first--hard--top last--hard--bottom">
              {% if module.preheader %}
              <span class="h6 preheader">{{ module.preheader }}</span>
              {% endif %}
              {% if module.header %}
              <h2>{{ module.header }}</h2>
              {% endif %}
              {% if module.content %}
              {{ module.content }}
              {% endif %}
              {% if module.float_image.src %}
              {% set sizeAttrs = 'width="{{ module.float_image.width|escape_attr }}" height="{{ module.float_image.height|escape_attr }}"' %}
              {% if module.float_image.size_type == 'auto' %}
              {% set sizeAttrs = 'width="{{ module.float_image.width|escape_attr }}" height="{{ module.float_image.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
              {% elif module.float_image.size_type == 'auto_custom_max' %}
              {% set sizeAttrs = 'width="{{ module.float_image.max_width|escape_attr }}" height="{{ module.float_image.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
              {% endif %}
              {% set loadingAttr = module.float_image.loading != 'disabled' ? 'loading="{{ module.float_image.loading|escape_attr }}"' : '' %}
              <img class="section--verticalcontentsliderfloat--floatimage palm-visuallyhidden" src="{{ module.float_image.src|escape_url }}" alt="{{ module.float_image.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
              {% endif %}
              {% if snippets.multiButton(module.cta) %}
              {{ snippets.multiButton(module.cta) }}
              {% endif %}
            </div>
          </div>
        </div>
        <div class="grid__item one-half palm-one-whole hard--ends palm-short first--hard--top last--hard--bottom text--left {{ module.layout_controls.content_alignment_mobile }} {{ snippets.textColorOverride(module.section_controls.text_color_override)|trim }}">
          <div class="grid__item one-whole hard--sides hard--top palm-short--top hard--bottom text--left overflow--visible">
            <div class="section--verticalcontentsliderfloat--wrapper">
              {# Start column content #}
              <div class="block">
                <div class="grid__item one-whole hard">

                  {% set animationClasses = '' %}
                  {% if module.layout_controls.enable_animation %}
                  {% set animationClasses = animationClasses ~ 'animate--fade animate--fade-up animate--fade-delay--{{ loop.index }}' %}
                  {% endif %}

                  {% for row in module.column.bullet_list %}

                  <div class="section--verticalcontentsliderfloat--row all--text--left palm-all--text--left section--verticalcontentsliderfloat--row--{{ loop.index }} {% if module.column.bullet_list_background_color %}section--verticalcontentsliderfloat--padding background--{{ module.column.bullet_list_background_color }} border-radius--10{% endif %} {{ module.column.bullet_list_background_color }} {% if loop.first %}active--list--item{% endif %} {% if not loop.last %}short--bottom margin--short--bottom {% if module.column.disable_divider %}{% else %}border--0 border--bottom--1{% endif %}{% endif %} {% if loop.last %}section--verticalcontentsliderfloat--lastrow{% endif %} {{ animationClasses }}">
                    <span class="section--verticalcontentsliderfloat--row--inner">
                      <span class="flexgrid">
                        {% if module.column.bullet_list_icon_style != "none" %}
                        <span class="section--verticalcontentsliderfloat--row--icon" style="flex-basis:{{ module.column.icons_maximum_width.icons_max_pixel_width }}px;padding-right:20px;top:{{ module.column.image_icon_vertical_offset }}px;position:relative;">

                          {% if module.column.bullet_list_icon_style == "icon" %}
                          <img
                               src    = "{{ row.icon.image_icon.src }}"
                               width  = "{{ row.icon.image_icon.width }}"
                               height = "{{ row.icon.image_icon.height }}"
                               style  = "max-width:{{ module.column.icons_maximum_width.icons_max_pixel_width }}px;height:auto;"
                               alt    = "{{ row.icon.image_icon.alt }}"
                               {% if module.section_controls.lazy_load_images %}
                               loading="lazy"
                               {% endif %}
                               />
                          {% elif module.column.bullet_list_icon_style == "lottie" %}
                          <lottie-player
                                         autoplay
                                         {% if row.lottie_animation.lottie_embed_loop %}
                                         loop
                                         {% endif %}
                                         id    = "{{ name }}--lottieplayer--{{ loop.index }}"
                                         class = "inline-block"
                                         mode  = "normal"
                                         style = "{{ 'width:' ~ row.lottie_animation.lottie_embed_width ~ 'px;' if row.lottie_animation.lottie_embed_width }}height:auto;"
                                         >
                          </lottie-player>
                          {{ require_js( 'https://unpkg.com/@lottiefiles/lottie-player@1.5.7/dist/lottie-player.js', { async: true } ) }}
                          {% require_js %}
                          <script>
                            const {{ name|replace('-','_') }}LottiePlayer{{ loop.index }} = document.querySelector("#{{ name }}--lottieplayer--{{ loop.index }}");
                                                                                                                   {{ name|replace('-','_') }}LottiePlayer{{ loop.index }}.addEventListener("rendered", (e) => {
                              {% if 'url' == row.lottie_animation.lottie_embed_type %}
                              {{ name|replace('-','_') }}LottiePlayer{{ loop.index }}.load("{{ row.lottie_animation.lottie_embed }}");
                                                                                           {% else %}
                                                                                           {{ name|replace('-','_') }}LottiePlayer{{ loop.index }}.load({{ row.lottie_animation.lottie_embed|tojson }});
                              {% endif %}
                            });
                          </script>
                          {% end_require_js %}
                          {% endif %}

                        </span>
                        {% endif %}
                        <span class="section--verticalcontentsliderfloat--row--content first--hard--top last--hard--bottom">
                          {% if row.header_label %}
                          <h3>
                            {{ row.header_label }}
                          </h3>
                          {% endif %}
                          {% if row.description %}
                          {{ row.description }}
                          {% endif %}
                        </span>
                        <span class="block clear"></span>
                      </span>
                    </span>
                    {% if loop.last %}
                    <div class="last-item-spacer palm-visuallyhidden"></div>
                    {% endif %}
                  </div>
                  {% endfor %}
                </div>
              </div>
              {# End column content #}
            </div>
          </div>
          {# Float Image Mobile #}
          {% if module.float_image.src %}
          {% set sizeAttrs = 'width="{{ module.float_image.width|escape_attr }}" height="{{ module.float_image.height|escape_attr }}"' %}
          {% if module.float_image.size_type == 'auto' %}
          {% set sizeAttrs = 'width="{{ module.float_image.width|escape_attr }}" height="{{ module.float_image.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
          {% elif module.float_image.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ module.float_image.max_width|escape_attr }}" height="{{ module.float_image.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
          {% set loadingAttr = module.float_image.loading != 'disabled' ? 'loading="{{ module.float_image.loading|escape_attr }}"' : '' %}
          <img class="section--verticalcontentsliderfloat--floatimage margin--short--top lap-and-up-visuallyhidden tablet-visuallyhidden" src="{{ module.float_image.src|escape_url }}" alt="{{ module.float_image.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
          {% endif %}
          {% if snippets.multiButton(module.cta) %}
          {{ snippets.multiButton(module.cta) }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="block gridspacer--bottom {{ snippets.sectionPadding(module.section_controls.spacing,"bottom")|trim }}">

  </div>
  {{ snippets.swoopSpacerBottom(module.background) }}
  {{ snippets.sectionPaddingCustomStyles(name,module.section_controls.spacing,".gridspacer--top",".gridspacer--bottom") }}
</div>

{% if not module.layout_controls.disable_scroll %}
{% require_js %}
<script>
  let position = window.scrollY;

  function delay() {
    let timer = 0;
    return function (callback, ms) {
      clearTimeout(timer);
      timer = setTimeout(callback, ms);
    };
  }

  function lastItemSpacer() {
    document.querySelectorAll('.section--verticalcontentsliderfloat.section--verticalcontentsliderfloat--scroll').forEach(function (section) {
      const lastItem = section.querySelector('.section--verticalcontentsliderfloat--lastrow');
      const scrollItem = section.querySelector('.section--verticalcontentsliderfloat--scrollitem');
      const spacerItem = section.querySelector('.last-item-spacer');

      const lastItemHeight = lastItem.offsetHeight;
      const elementHeight = scrollItem.offsetHeight;
      const spacerHeight = spacerItem ? spacerItem.offsetHeight : 0;

      if (window.innerWidth >= 768) {
        if ((lastItemHeight - spacerHeight) < elementHeight) {
          const lastItemSpacerHeight = elementHeight - (lastItemHeight - spacerHeight) + 'px';
          spacerItem.style.height = lastItemSpacerHeight;
        } else {
          spacerItem.style.height = '0px';
        }
      }
    });
  }

  function stickyHeaderContent() {
    document.querySelectorAll('.section--verticalcontentsliderfloat.section--verticalcontentsliderfloat--scroll').forEach(function (section) {
      const panelItem = section.querySelector('.section--verticalcontentsliderfloat--scrollitem--outer');
      const scrollBody = section.querySelector('.section--verticalcontentsliderfloat--scrollwrapper');
      const scrollItem = section.querySelector('.section--verticalcontentsliderfloat--scrollitem');
      const scrollAnchor = section.querySelector('.section--verticalcontentsliderfloat--anchor');
      const lastItem = section.querySelector('.section--verticalcontentsliderfloat--lastrow');

      const scrollAnchorOffset = scrollAnchor.getBoundingClientRect().top + window.scrollY;
      const scrollTop = window.scrollY;
      const lastItemOffset = lastItem.getBoundingClientRect().top + window.scrollY;
      const lastItemHeight = lastItem.offsetHeight;

      const stickyStart = scrollAnchorOffset;
      const stickyTop = 0;
      const stickyOffset = 0;

      const windowHeight = window.innerHeight;
      const elementHeight = scrollItem.offsetHeight;

      const stickyEnd = scrollBody.getBoundingClientRect().top + scrollBody.offsetHeight - (scrollItem.offsetHeight + stickyOffset);
      const panelItemWidth = panelItem.offsetWidth;

      const stickyContainerOffset = scrollAnchorOffset - scrollTop;
      const lastItemElementOffset = lastItemOffset - scrollTop;
      const stickyTopPosition = windowHeight / 2 - elementHeight / 2;
      const lastItemPosition = lastItem.offsetHeight - elementHeight;

      if (window.innerWidth >= 769) {
        let scroll = window.scrollY;
        let scrollDirection = "neutral";
        if (scroll > position) {
          scrollDirection = "down";
        } else {
          scrollDirection = "up";
        }
        position = scroll;

        // Add sticky behavior
        if (stickyContainerOffset < stickyTopPosition) {
          if (!scrollItem.classList.contains("sticky--active--class") || !scrollItem.classList.contains("sticky--passed--class")) {
            scrollItem.classList.add("sticky--active--class");
            scrollItem.classList.remove("sticky--passed--class");
            scrollItem.style.position = "fixed";
            scrollItem.style.top = stickyTopPosition + "px";
            scrollItem.style.width = panelItemWidth + "px";
            scrollItem.style.bottom = "";
          }
        }

        // Remove sticky behavior
        if (stickyContainerOffset >= stickyTopPosition) {
          if (scrollItem.classList.contains("sticky--active--class")) {
            scrollItem.classList.remove("sticky--active--class");
            scrollItem.style.top = "";
            scrollItem.style.position = "";
            scrollItem.style.width = "";
          }
        }

        // Bottom align element reaches sticky
        if (lastItemElementOffset < stickyTopPosition) {
          if (!scrollItem.classList.contains("sticky--passed--class")) {
            scrollItem.classList.remove("sticky--active--class");
            scrollItem.classList.add("sticky--passed--class");
            scrollItem.style.position = "absolute";
            scrollItem.style.bottom = lastItemPosition + "px";
            scrollItem.style.top = "";
          }
        }

        // Scrolling up and bottom align element is no longer past
        if (scrollDirection === 'up' && lastItemElementOffset >= stickyTopPosition && scrollItem.classList.contains("sticky--passed--class")) {
          scrollItem.classList.remove("sticky--passed--class");
        }

        section.querySelectorAll(".section--verticalcontentsliderfloat--row").forEach(function (row) {
          const scrollItemOffset = scrollItem.getBoundingClientRect().top - scrollTop;
          const bulletItemOffset = row.getBoundingClientRect().top - scrollTop;
          const bulletItemHeight = row.offsetHeight;

          const bulletItemOffsetStart = bulletItemOffset - 20;
          const bulletItemOffsetEnd = bulletItemOffset + bulletItemHeight + 10;

          if (scrollItemOffset >= bulletItemOffsetStart && scrollItemOffset <= bulletItemOffsetEnd) {
            row.classList.add('active--list--item');
          } else {
            row.classList.remove('active--list--item');
          }
        });
      } else {
        scrollItem.style.position = "relative";
        scrollItem.style.top = "";
        scrollItem.style.width = "";
        scrollItem.style.bottom = "";
      }
    });
  }

  document.addEventListener('DOMContentLoaded', function () {
    stickyHeaderContent();
    lastItemSpacer();
  });

  window.addEventListener('scroll', function () {
    stickyHeaderContent();
  });

  window.addEventListener('resize', function () {
    stickyHeaderContent();
    delay(function () {
      lastItemSpacer();
    }, 1000);
  });
</script>
{% end_require_js %}
{% endif %}