{{ require_css( get_asset_url("../Full-Width Content Overflow.css"), { async: true } ) }}


{% if module.layout_controls.container_alignment == 'center' %}
{% set gridAlignmentDesktop = 'center' %}
{% endif %}

{% if module.layout_controls.container_alignment == 'left' %}
{% set gridAlignmentDesktop = 'left' %}
{% endif %}

<div {% if module.section_controls.anchor_id %}id="{{ module.section_controls.anchor_id|trim }}"{% endif %} class="section section--fullwidth-content-overflow relative {{ snippets.deviceVisibility(module.section_controls.device_visibility)|trim }} z-index--1">
  {{ snippets.background(module.background) }}
  <div class="block relative z-index--3">
    {{ snippets.swoopSpacerTop(module.background) }}
    <div class="block gridspacer--top {{ snippets.sectionPadding(module.section_controls.spacing,"top")|trim }}">

    </div>
    <div class="grid hard--ends all--text--{{ gridAlignmentDesktop }}">
      {% if module.preheader || module.header || module.content %}
      <div class="grid__item section--fullwidth-content-overflow--header-container {% if module.layout_controls.header_width == 'narrow' %}ten-twelfths tablet-ten-twelfths palm-one-whole{% else %}{{ module.layout_controls.header_width }} tablet-ten-twelfths palm-one-whole{% endif %} hard--top {% if module.enable_lightbox_video %}tall--bottom palm-short--bottom{% else %}hard--bottom{% endif %} last--hard--bottom all--text--{{ module.layout_controls.content_alignment }} palm-all--text--{{ module.layout_controls.content_alignment_mobile }}">
        <div class="first--hard--top last--hard--bottom {{ snippets.textColorOverride(module.section_controls.text_color_override)|trim }}">
          {% if module.preheader %}
          <span class="h6 preheader">{{ module.preheader }}</span>
          {% endif %}
          {% if module.header %}
          <h2 class="section--fullwidth-content-overflow--header {% if module.preheader %}{% else %}hard--top{% endif %} hard--bottom {% if module.content %}margin--petite--bottom{% endif %}">{{ module.header }}</h2>
          {% endif %}
          {% if module.content %}
          <div class="first--hard--top last--hard--bottom">
            {{ module.content }}
          </div>
          {% endif %}
        </div>
      </div>

      {% endif %}
      {% if module.enable_lightbox_video %}
      <div class="section--video-body grid__item {{ module.layout_controls.content_width }} tablet-one-whole palm-one-whole hard--ends all--text--{{ module.layout_controls.content_alignment }} palm-all--text--{{ module.layout_controls.content_alignment_mobile }} {{ snippets.textColorOverride(module.section_controls.text_color_override)|trim }}">
        <div class="block {{ snippets.deviceVisibility(module.media_device_visibility) }}">
          {% if (module.video.video_thumbnail_type != 'none')||(module.video.video_thumbnail_type_mobile != 'none') %}
          <div class="block z-index--1 {% if module.video.video_thumbnail_type == 'none' %}lap-and-up-visuallyhidden tablet-visuallyhidden{% endif %} {# if module.video.video_thumbnail_type_mobile == 'none' %}palm-visuallyhidden{% endif #}" style="height: 100%; position: relative;">
            <a class="animate--fade animate--fade-up animate--fade-delay--2 {% if module.video.video_label_text %}flex flex-align--center flex-justify--center{% else %}inline-block{% endif %} {% if module.video.video_label_text && module.video.optional_video_background_image.src %}{% else %}block--video{% endif %} {% if module.video.video_width_type == 'full' %}width--max{% endif %}" {% if module.video.video_type == 'modal' %}data-fancybox {% if '.mp4' in module.video.video_url_of_iframe_embeddable_video_file.href %}{% else %}data-type="iframe" data-width="936" data-height="636"{% endif %} href="{{ module.video.video_url_of_iframe_embeddable_video_file.href }}"{% elif module.video.video_type == 'hubspot' %}data-src="#{{ name }}--embed" data-fancybox{% elif module.video.video_type == 'vidyard' %}href="javascript:;" onclick="launchVidLightbox('{{ module.video.vidyard_video_uuid|trim }}', '0');"{% endif %}>

              {% if module.video.video_label_text && module.video.optional_video_background_image.src %} 
              <div class="section--fullwidth-content-overflow--btn btn btn--small flex flex-align--center z-index--2">
                <img loading="lazy" src="https://www.impactplus.com/hubfs/impact_site_2025_IM-UI/assets/icons/white/play-white.svg" style="margin-right: 10px;" width="44" height="44" alt="{{ module.video.video_label_text }}">
                <span class="p hard--ends bold all--color--white line-height--small" tabindex="0" style="text-align: left !important;">{{ module.video.video_label_text }}</span>
              </div>
              {% endif %}
              {% if module.video.video_thumbnail_type == 'video' %}
              <div class="overflow--hidden {{ 'border-radius' if module.add_media_border_radius }} {{ 'box-shadow' if module.add_media_dropshadow }} width--max">
                <video class="section-hero-custom--video--player lazy" style="aspect-ratio: 16 / 9; width: 100%; height: 100%; object-fit: cover; {% if module.video.video_width_type == 'custom-width' %}max-width:{{ module.video.video_max_width }}{% endif %}"  muted="" autoplay="" loop="" playsinline="" data-src="{{ module.video.vide_gif_or_mp4_embed }}" data-poster="{{ module.video.video_mobile_thumbnail_image.src }}">
                  <source data-src="{{ module.video.vide_gif_or_mp4_embed }}" type="video/mp4">
                </video>
                {% if module.video.video_mobile_thumbnail_image.src %}
                {% set sizeAttrs = 'width="{{ module.video.video_mobile_thumbnail_image.width|escape_attr }}" height="{{ module.video.video_mobile_thumbnail_image.height|escape_attr }}"' %}
                {% if module.video.video_mobile_thumbnail_image.size_type == 'auto' %}
                {% set sizeAttrs = 'width="{{ module.video.video_mobile_thumbnail_image.width|escape_attr }}" height="{{ module.video.video_mobile_thumbnail_image.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                {% elif module.video.video_mobile_thumbnail_image.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{ module.video.video_mobile_thumbnail_image.max_width|escape_attr }}" height="{{ module.video.video_mobile_thumbnail_image.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                {% endif %}
                {% set loadingAttr = module.video.video_mobile_thumbnail_image.loading != 'disabled' ? 'loading="{{ module.video.video_mobile_thumbnail_image.loading|escape_attr }}"' : '' %}
                  {#<picture class="lap-and-up-visuallyhidden">
                    <!-- Desktop screens -->
                    <source
                            media="(min-width: 1200px)"
                            srcset="
                                    {{ module.video.video_mobile_thumbnail_image.src }}?width=1728&height=972 1728w,
                                    {{ module.video.video_mobile_thumbnail_image.src }}?width=2304&height=1296 2304w,
                                    {{ module.video.video_mobile_thumbnail_image.src }}?width=2880&height=1620 2880w
                                    "
                            sizes="1152px"
                            />

                    <!-- Tablet screens -->
                    <source
                            media="(min-width: 600px)"
                            srcset="
                                    {{ module.video.video_mobile_thumbnail_image.src }}?width=720&height=405 720w,
                                    {{ module.video.video_mobile_thumbnail_image.src }}?width=1152&height=648 1152w
                                    "
                            sizes="720px"
                            style="width: 100%;"
                            />

                    <!-- Mobile default -->
                    <img
                         src="{{ module.video.video_mobile_thumbnail_image.src }}?width=360&height=203"
                         srcset="{{ module.video.video_mobile_thumbnail_image.src }}?width=360&height=203 360w"
                         sizes="100vw"
                         alt="Video thumbnail"
                         width="361"
                         height="203"
                         style="width: 100%;"
                         />
                  </picture>#}
                  {% endif %}   
                  </div>
                {% else %}
                {% set sizeAttrs = 'width="{{ module.video.video_thumbnail_image.width }}" height="{{ module.video.video_thumbnail_image.height }}"' %}
                {% if module.video.video_thumbnail_image.size_type == 'auto' %}
                {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                {% elif module.video.video_thumbnail_image.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{ module.video.video_thumbnail_image.max_width }}" height="{{ module.video.video_thumbnail_image.max_height }}" style="max-width: 100%; height: auto;"' %}
                {% endif %}
                <img class="block {{ 'border-radius' if module.add_media_border_radius }} {{ 'box-shadow' if module.add_media_dropshadow }} overflow--hidden" src="{{ module.video.video_thumbnail_image.src }}" {% if module.section_controls.lazy_load_images %}loading="lazy"{% endif %} alt="{{ module.video.video_thumbnail_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
                {% endif %}

                </a>
              </div>
            {# Optional Video Background Overflow Image #}
            {% if module.video.optional_video_background_image.src %}
            <div role="img" class="background--layer background-size--contain--y background-repeat--none lozad animate--fade animate--fade-up animate--fade-delay--1" style="background-image: url('{{ module.video.optional_video_background_image.src }}'); background-position: 50% 50%; margin: 0 auto; top:{{ module.video.video_background_offset.video_background_top_offset_percentage }}%; bottom:{{ module.video.video_background_offset.video_background_bottom_offset_percentage }}%; left:{{ module.video.video_background_offset.video_background_left_offset_percentage }}%; right:{{ module.video.video_background_offset.video_background_right_offset_percentage }}%;"></div>
            {% endif %}
            {# End Optional Video Background Overflow Image #}
            {% endif %}
            {# if (module.video.video_thumbnail_type == 'none')||(module.video.video_thumbnail_type_mobile == 'none') %}
          <div class="block {% if module.video.video_thumbnail_type != 'none' %}lap-and-up-visuallyhidden tablet-visuallyhidden{% endif %} {% if module.video.video_thumbnail_type_mobile != 'none' %}palm-visuallyhidden{% endif %}">
            <a class="inline-block no--underline" {% if module.video.video_type == 'modal' %}data-fancybox {% if '.mp4' in module.video.video_url_of_iframe_embeddable_video_file.href %}{% else %}data-type="iframe" data-width="936" data-height="636"{% endif %} href="{{ module.video.video_url_of_iframe_embeddable_video_file.href }}"{% elif module.video.video_type == 'hubspot' %}data-src="#{{ name }}--embed" data-fancybox{% elif module.video.video_type == 'vidyard' %}href="javascript:;" onclick="launchLightbox_{{ name|replace('-','_') }}('{{ module.video.vidyard_video_uuid|trim }}');"{% endif %} style="width:320px;max-width:100%;">
              <span class="block--video--icon"></span>
              {% if module.video.video_label_text %}
              <span class="block short--top all--text--center block--video--label {{ snippets.textColorOverride(module.section_controls.text_color_override)|trim }}">
                <p class="hard--ends">
                  {{ module.video.video_label_text }}
                </p>
              </span>
              {% endif %}
            </a>
          </div>
          {% endif #}
            {% if module.video.video_label_text %}
            {# Default Caption - Now moved within the play button #}
            {#<div class="block short--top all--text--center block--video--label {{ snippets.textColorOverride(module.section_controls.text_color_override)|trim }} {% if ((module.video.video_type == 'modal')||(module.video.video_type == 'vidyard')||(module.video.video_type == 'hubspot'))&&(module.video.video_thumbnail_type == 'none') %}lap-and-up-visuallyhidden tablet-visuallyhidden{% endif %} {% if ((module.video.video_type == 'modal')||(module.video.video_type == 'vidyard')||(module.video.video_type == 'hubspot'))&&(module.video.video_thumbnail_type_mobile == 'none') %}palm-visuallyhidden{% endif %}">
            <p class="hard--ends">
              {{ module.video.video_label_text }}
            </p>
          </div>#}
            {% endif %}
            {% if module.video.video_type == 'hubspot' %}
            {% if module.video.video_hubspot_video.player_id %}
            <div id="{{ name }}--embed" class="video--popover all--aspectratio" style="display:none;">

              {% set max_width = module.video.video_hubspot_video.size_type == 'auto_custom_max' ? module.video.video_hubspot_video.max_width : module.video.video_hubspot_video.width %}
              {% set max_height = module.video.video_hubspot_video.size_type == 'auto_custom_max' ? module.video.video_hubspot_video.max_height : module.video.video_hubspot_video.height %}

              {% set playColor = module.video.video_hubspot_play_button_color.color %}

              {% video_player "embed_player"
                 play_button_color={{ playColor }}
                 player_id={{ module.video.video_hubspot_video.player_id }}
                 type={{ module.video.video_hubspot_video.player_type || 'scriptV4' }}
                 full_width={{ module.video.video_hubspot_video.size_type == 'auto_full_width' }},
                 conversion_asset={{ module.video.video_hubspot_video.conversion_asset|tojson|safe }}
              %}

            </div>
            {% endif %}
            {% endif %}
          </div>
        </div>
        {% endif %}
        {% if module.conversion_type != 'none' %}
        <div class="grid__item {% if module.conversion_type == 'cta' && module.layout_controls.content_width == 'full' %}one-whole{% else %}eight-twelfths tablet-ten-twelfths palm-one-whole{% endif %} hard--ends {% if module.cta|length > 0 or module.conversion_type == 'form' %}margin--tall--top{% endif %} first--hard--top last--hard--bottom text--{{ module.layout_controls.content_alignment }} palm-text--{{ module.layout_controls.content_alignment_mobile }}">
          {% if module.conversion_type == 'cta' %}
          <span class="{{ snippets.textColorOverride(module.section_controls.text_color_override)|trim }}">
            {{ snippets.multiButton(module.cta) }}
          </span>
          {% elif module.conversion_type == 'form' %}
          <div class="grid__item ten-twelfths palm-one-whole hard--sides background--white border-radius margin--tall--top padding--tall tall box-shadow all--text--left all--btn all--btn--{% if module.form.form_ghost_transparent_button %}transparent--{% endif %}{{ module.form.form_button_color }} all--btn--center">
            {% if module.form.form_header %}
            {{ module.form.form_header }}
            {% endif %}
            {% form
              form_to_use="{{ module.form.form.form_id }}"
              response_response_type="{{ module.form.form.response_type }}"
              response_message="{{ module.form.form.message }}"
              response_redirect_id="{{ module.form.form.redirect_id }}"
              response_redirect_url="{{ module.form.form.redirect_url }}"
              gotowebinar_webinar_key="{{ module.form.form.gotowebinar_webinar_key }}"
              follow_up_type_simple="{{ module.form.send_a_follow_up_email }}"
              simple_email_for_live_id="{{ module.form.email }}"
              notifications_are_overridden="{{ module.form.send_form_notifications_to_specified_email_addresses_instead_of_the_form_defaults }}"
              notifications_override_email_addresses="{{ module.form.email_addresses }}"
              no_title=True
            %}
          </div>
          {% endif %}
        </div>
        {% endif %}
      </div>
      {% if (module.video.video_type == "vidyard")&&(module.enable_lightbox_video) %}
      {#
    {% require_js %}
    {{ require_js( "https://play.vidyard.com/embed/v4.js", { async: true } ) }}
    {% end_require_js %}
    #}
      <div class="visuallyhidden">
        <img class="vidyard-player-embed" alt="{{ module.video.video_image_alt_tag }}" data-uuid="{{ module.video.vidyard_video_uuid|trim }}" data-type="lightbox" data-v="4">
      </div>
      {% require_js %}
      <script>
        (function() {
          let videoInjected = false;

          function injectVideo() {
            if (videoInjected) return;
            videoInjected = true;

            const container = document.querySelector('.section-hero-custom--video--player');
            if (!container) return;

            // Get the <source> element inside the video
            const source = container.querySelector('source');
            if (source && source.dataset.src) {
              source.src = source.dataset.src;
              container.load();   // reload the video
              container.play();   // play it
            }

            // Remove listeners after first trigger
            ['click', 'scroll', 'keydown', 'mousemove', 'touchstart'].forEach(evt => {
              window.removeEventListener(evt, injectVideo);
            });
          }

          // Attach listeners for any user interaction
          ['click', 'scroll', 'keydown', 'mousemove', 'touchstart'].forEach(evt => {
            window.addEventListener(evt, injectVideo, { once: true });
          });
        })();

        function launchLightbox_{{ name|replace('-','_') }}(uuid) {
          var players = VidyardV4.api.getPlayersByUUID(uuid);
          var player = players[0];
          player.showLightbox();
        }

      </script>
      {% end_require_js %}
      {% endif %}
      <div class="block gridspacer--bottom {{ snippets.sectionPadding(module.section_controls.spacing,"bottom")|trim }}">

      </div>
      {{ snippets.swoopSpacerBottom(module.background) }}
    </div>
    {{ snippets.sectionPaddingCustomStyles(name,module.section_controls.spacing,".gridspacer--top",".gridspacer--bottom") }}
  </div>