{# CSS #}
{{ require_css( get_asset_url("../Testimonial Slider.css"), { async: true} ) }}

<div {% if module.section_controls.anchor_id %}id="{{ module.section_controls.anchor_id|trim }}"{% endif %} class="{{ name }} section section--testimonialslider relative overflow--hidden {{ snippets.deviceVisibility(module.section_controls.device_visibility)|trim }}">
  {{ snippets.background(module.background) }}
  <div class="block relative z-index--3">
    {{ snippets.swoopSpacerTop(module.background) }}
    <div class="block gridspacer--top {{ snippets.sectionPadding(module.section_controls.spacing,"top")|trim }}">

    </div>
    {% if module.preheader %}
      <div class="grid hard--ends {{ snippets.textColorOverride(module.section_controls.text_color_override)|trim }} all--text--{{ module.layout_controls.header_content_alignment }} palm-all--text--{{ module.layout_controls.header_content_alignment_mobile }}">
        <div class="grid__item eight-twelfths tablet-ten-twelfths palm-one-whole hard--top tall--bottom palm-short--bottom first--hard--top last--hard--bottom all--text--{{ module.layout_controls.header_content_alignment }} palm-all--text--{{ module.layout_controls.header_content_alignment_mobile }}">
          <h2 class="h6 preheader">{{ module.preheader }}</h2>
        </div>
      </div>
    {% endif %}
    <div class="grid hard--ends">
      <div class="grid__item one-whole hard text--center">
        <div class="f-carousel testimonial--slider {{ name }} {{ snippets.textColorOverride(module.section_controls.text_color_override)|trim }}">

          {% for testimonial in module.testimonial_slider %}
          <div class="f-carousel__slide" style="width:100%">
            <div class="flexgrid {% if testimonial.featured_media_type == 'none' %}justify--center{% endif %} portable-justify--center {% if testimonial.featured_media_position_desktop == 'left' %}row--reverse{% endif %} {% if testimonial.featured_media_position_mobile != 'below' %}palm-column--reverse{% endif %} {{ testimonial.featured_media_vertical_alignment }}">
              <div class="grid__item short {% if testimonial.featured_media_type == 'none' %}eight-twelfths tablet-ten-twelfths palm-one-whole text--center{% else %}one-half tablet-ten-twelfths palm-one-whole text--left palm-text--center{% endif %} first--hard--top last--hard--bottom">
                {{ testimonial.testimonial_quote_content }}

                {% if
                  testimonial.testimonial_name_of_person ||
                  testimonial.testimonial_title_of_person ||
                  testimonial.testimonial_image.src ||
                  ((testimonial.cta.cta_type == "cta")&&(testimonial.cta.cta))||
                  ((testimonial.cta.cta_type == "link")&&(testimonial.cta.cta_hyperlink.href)&&(testimonial.cta.cta_button_text))||
                  ((testimonial.cta.cta_type == "anchor")&&(testimonial.cta.cta_section_anchor_id)&&(testimonial.cta.cta_button_text))
                %}
                <div class="section--testimonialslider--byline flexgrid valign--middle {% if testimonial.featured_media_type == 'none' %}justify--center{% else %}justify--left{% endif %} {% if testimonial.testimonial_image.src %}text--left{% else %}text--center{% endif %} palm-text--center align--start palm-justify--center palm-direction--column">
                  {% if testimonial.testimonial_image.src %}
                    <div class="section--testimonialslider--image--container">
                      <div class="section--testimonialslider--image  {{ module.section_controls.lazy_load_images ? 'lozad' : '' }}" role="img" aria-label="{{ testimonial.testimonial_image.alt }}" {{ module.section_controls.lazy_load_images ? 'data-background-image="{{ testimonial.testimonial_image.src }}"' : '' }} style="{{ not module.section_controls.lazy_load_images ? 'background-image:url(\'{{ testimonial.testimonial_image.src }}\');' : '' }}background-repeat:no-repeat;background-position:center center;background-size:cover;">

                      </div>
                    </div>
                  {% endif %}
                  {% if
                    testimonial.testimonial_name_of_person ||
                    testimonial.testimonial_title_of_person ||
                    ((testimonial.cta.cta_type == "cta")&&(testimonial.cta.cta))||
                    ((testimonial.cta.cta_type == "link")&&(testimonial.cta.cta_hyperlink.href)&&(testimonial.cta.cta_button_text))||
                    ((testimonial.cta.cta_type == "anchor")&&(testimonial.cta.cta_section_anchor_id)&&(testimonial.cta.cta_button_text))
                  %}
                  <div class="section--testimonialslider--source">
                    {% if testimonial.testimonial_name_of_person || testimonial.testimonial_title_of_person %}
                      <p class="hard--ends">
                        {% if testimonial.testimonial_name_of_person %}<span>{{ testimonial.testimonial_name_of_person }}</span>{% endif %}
                        {% if testimonial.testimonial_title_of_person %}<span>{{ testimonial.testimonial_title_of_person }}</span>{% endif %}
                      </p>
                    {% endif %}
                    {% if
                      ((testimonial.cta.cta_type == "cta")&&(testimonial.cta.cta))||
                      ((testimonial.cta.cta_type == "link")&&(testimonial.cta.cta_hyperlink.href)&&(testimonial.cta.cta_button_text))||
                      ((testimonial.cta.cta_type == "anchor")&&(testimonial.cta.cta_section_anchor_id)&&(testimonial.cta.cta_button_text))
                    %}
                      <p style="margin-top:8px!important;" class="hard--ends all--btn all--btn--simple">
                        {% if testimonial.cta.cta_type == "cta" %}
                          {{ cta(testimonial.cta.cta) }}
                        {% elif (testimonial.cta.cta_type == "link")||(testimonial.cta.cta_type == "anchor") %}
                          <a role="button" title="{% if testimonial.cta_title_attribute %}{{ testimonial.cta_title_attribute }}{% else %}{{ testimonial.cta.cta_button_text }}{% endif %}" class="btn btn--simple " href="{% if testimonial.cta.cta_type == 'anchor' %}#{{ testimonial.cta.cta_section_anchor_id|replace('#','') }}{% elif testimonial.cta.cta_type == 'modal' %}{{ testimonial.cta.cta_url_of_iframe_embeddable_file.href }}{% else %}{{ testimonial.cta.cta_hyperlink.href }}{% endif %}" {% if (testimonial.cta.cta_type == "link")&&(testimonial.cta.cta_open_in_new_tab) %}target="_blank"{% endif %} {% if (testimonial.cta.cta_type == "link")&&(testimonial.cta.cta_link_type_no_follow) %}rel="noopener"{% endif %}>{{ testimonial.cta.cta_button_text }}</a>
                        {% endif %}
                      </p>
                    {% endif %}
                  </div>
                  {% endif %}
                </div>
                {% endif %}
              </div>
              {% if testimonial.featured_media_type != 'none' %}
                <div class="grid__item short one-half palm-one-whole text--center {{ snippets.deviceVisibility(testimonial.featured_media_device_visibility) }}">
                  {% if testimonial.featured_media_type == "image" %}
                    <div class="block">
                      {% if testimonial.image.image.src %}

                      {% set sizeAttrs = 'width="{{ testimonial.image.image.width }}" height="{{ testimonial.image.image.height }}"' %}
                      {% if testimonial.image.image.size_type == 'auto' %}
                        {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                      {% elif testimonialimage.image.size_type == 'auto_custom_max' %}
                        {% set sizeAttrs = 'width="{{ testimonial.image.image.max_width }}" height="{{ testimonial.image.image.max_height }}" style="max-width: 100%; height: auto;"' %}
                      {% endif %}

                      <img class="inline-block {{ 'border-radius' if testimonial.add_featured_media_border_radius }} {{ 'box-shadow' if testimonial.add_featured_media_dropshadow }}" {% if module.section_controls.lazy_load_images %}loading="lazy"{% endif %} src="{{ testimonial.image.image.src }}" alt="{{ testimonial.image.image.alt }}" {{ sizeAttrs }}>

                      {% endif %}
                    </div>
                  {% elif testimonial.featured_media_type == "video" %}
                    <div class="block">
                      <div class="block">
                        <a title="{% if testimonial.video.video_title_attribute %}{{ testimonial.video.video_title_attribute }}{% else %}Watch the Video{% endif %}" class="block block--video" {% if testimonial.video.video_type == "modal" %}href="{{ testimonial.video.video_url_of_iframe_embeddable_video_file.href }}"{% elif testimonial.video.video_type == 'hubspot' %}data-src="#{{ name }}--embed--{{ loop.index }}" data-fancybox{% elif testimonial.video.video_type == "vidyard" %}href="javascript:;" onclick="launchLightbox_{{ loop.index }}_{{ name|replace('-','_') }}('{{ testimonial.video.vidyard_video_uuid|trim }}');"{% endif %}>

                          {% set sizeAttrs = 'width="{{ testimonial.video.video_thumbnail_image.width }}" height="{{ testimonial.video.video_thumbnail_image.height }}"' %}
                          {% if testimonial.video.video_thumbnail_image.size_type == 'auto' %}
                            {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                          {% elif testimonial.video.video_thumbnail_image.size_type == 'auto_custom_max' %}
                            {% set sizeAttrs = 'width="{{ testimonial.video.video_thumbnail_image.max_width }}" height="{{ testimonial.video.video_thumbnail_image.max_height }}" style="max-width: 100%; height: auto;"' %}
                          {% endif %}

                          <img class="inline-block {{ 'border-radius' if testimonial.add_featured_media_border_radius }} {{ 'box-shadow' if testimonial.add_featured_media_dropshadow }}" {% if module.section_controls.lazy_load_images %}loading="lazy"{% endif %} src="{{ testimonial.video.video_thumbnail_image.src }}" alt="{{ testimonial.video.video_thumbnail_image.alt }}" {% if module.section_controls.lazy_load_images %}loading="lazy"{% endif %} {{ sizeAttrs }}>

                        </a>
                      </div>
                      {% if testimonial.video.video_label_text %}
                      <div class="block short--top all--text--center block--video--label">
                        <p class="hard--ends">
                          {{ testimonial.video.video_label_text }}
                        </p>
                      </div>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
          {% endfor %}


        </div>
      </div>
    </div>
    {% if snippets.multiButton(module.cta) %}
      <div class="grid hard--ends {{ snippets.textColorOverride(module.section_controls.text_color_override)|trim }}">
        <div class="grid__item one-whole tall--top palm-short--top hard--bottom first--hard--top last--hard--bottom {{ snippets.textColorOverride(module.section_controls.text_color_override)|trim }} all--text--{{ module.layout_controls.header_content_alignment }} palm-all--text--{{ module.layout_controls.header_content_alignment_mobile }}">
          {{ snippets.multiButton(module.cta) }}
        </div>
      </div>
    {% endif %}

    {% for testimonial in module.testimonial_slider %}
      {% if (testimonial.video.video_type == "hubspot")&&(testimonial.featured_media_type == "video") %}
        {% if testimonial.video.video_hubspot_video.player_id %}
          <div id="{{ name }}--embed--{{ loop.index }}" class="video--popover all--aspectratio" style="display:none;">

            {% set max_width  = testimonial.video.video_hubspot_video.size_type =  = 'auto_custom_max' ? testimonial.video.video_hubspot_video.max_width:  testimonial.video.video_hubspot_video.width %}
            {% set max_height = testimonial.video.video_hubspot_video.size_type =  = 'auto_custom_max' ? testimonial.video.video_hubspot_video.max_height: testimonial.video.video_hubspot_video.height %}
            {% set playColor  = testimonial.video.video_hubspot_play_button_color.color %}
            {% video_player "embed_player"
              placeholder_alt_text = {{ testimonial.video.video_image_alt_tag }}
              play_button_color    = {{ playColor }}
              player_id            = {{ testimonial.video.video_hubspot_video.player_id }}
              type                 = {{ testimonial.video.video_hubspot_video.player_type || 'scriptV4' }}
              full_width           = {{ testimonial.video.video_hubspot_video.size_type == 'auto_full_width' }},
              conversion_asset     = {{ testimonial.video.video_hubspot_video.conversion_asset|tojson|safe }}
            %}
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}

    <div class="block gridspacer--bottom {{ snippets.sectionPadding(module.section_controls.spacing,"bottom")|trim }}">

    </div>
    {{ snippets.swoopSpacerBottom(module.background) }}
  </div>
  {{ snippets.sectionPaddingCustomStyles(name,module.section_controls.spacing,".gridspacer--top",".gridspacer--bottom") }}
</div>

{% set vidyardActive = { "value": "false" } %}
{% for testimonial in module.testimonial_slider %}
  {% if (testimonial.featured_media_type == "video") && (testimonial.video.video_type == "vidyard") %}
    {% do vidyardActive.update({ "value" : "true" }) %}
  {% endif %}
{% endfor %}

{% if "true" == vidyardActive.value %}
  {% require_js %}
    {{ require_js( "https://play.vidyard.com/embed/v4.js", { async: true } ) }}
  {% end_require_js %}
{% endif %}

{% for testimonial in module.testimonial_slider %}
  {% if (testimonial.video.video_type == "vidyard")&&(testimonial.featured_media_type == "video") %}
    <div class="visuallyhidden">
      <img class="vidyard-player-embed" alt="{{ testimonial.video.vidyard_video_image_alt_tag }}" data-uuid="{{ testimonial.video.vidyard_video_uuid|trim }}" data-type="lightbox" data-v="4">
    </div>
    {% require_js %}
      <script>
        function launchLightbox_{{ loop.index }}_{{ name|replace('-','_') }}(uuid) {
          var players = VidyardV4.api.getPlayersByUUID(uuid);
          var player = players[0];
          player.showLightbox();
        }
      </script>
  {% end_require_js %}
  {% endif %}
{% endfor %}

{{ require_css( "https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.css", { async: true } ) }}
{{ require_js( "https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.umd.js", { position: 'head', defer: true } ) }}

{% require_js %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const sliders = document.querySelectorAll('.section--testimonialslider.{{ name }}');

                                                console.log('running');
                                                
      sliders.forEach(function (slider) {
        const thisSliderMain = slider.querySelector('.testimonial--slider.{{ name }}');

        const mainCarousel = new Carousel(thisSliderMain, {
          infinite: true,
          friction: 0.96,
          slidesPerPage: 1,
          transition: 'slide',
          l10n: {
            NEXT: "{{ module.slider_controls.next_title_attribute || 'Next slide' }}",
            PREV: "{{ module.slider_controls.previous_title_attribute || 'Previous slide' }}",
            GOTO: "{{ module.slider_controls.navigation_title_attribute || 'Go to slide #%d' }}"
          },
        });
      });
    });
  </script>
{% end_require_js %}