{# CSS #}
{# require_css(get_asset_url('/IM-IMPACT-Design-System-V2/modules/_learning_center/Learning Center Table of Contents/Learning Center Table of Contents.css'), { async: true }) #}
{# require_css( get_asset_url("/IM-IMPACT-Design-System-V2/modules/_learning_center/Learning Center Sidebar Social Share/Learning Center Sidebar Social Share.css"), { async: true } ) #}
{# require_css( get_asset_url("/IM-IMPACT-Design-System-V2/modules/_learning_center/Learning Center Sidebar Pillar Topic Cluster/Learning Center Pillar Topic Cluster Links.css"), { async: false } ) #}


{% set sidebar = module.table_of_contents.sidebar_menu_items %}
{% set lvlOneChild = [] %}

{% for child in sidebar %}
{% if child.children|length > 0 %}
{% do lvlOneChild.append(child.linkLabel) %}
{% endif %}
{% endfor %}


{# Table of Contents #}
<div class="section--chapter-list--container hard--top">
  <div class="chapter--overflow-scroller text--left">
    <h6 class="hard--top margin--short--bottom">{{ module.table_of_contents.sidebar_menu_title }}</h6>
    <div id="hs_menu_wrapper_widget_1631046267538_" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="default" data-menu-id="54748351895" aria-label="Navigation Menu">
      <ul class="section--chapter-list--page-menu section--chapter-list--depth-1" role="menu">
        {% for child in sidebar %}
        <li class="sidebar-menu--item hs-menu-item hs-menu-depth-1 relative {% if child.children|length > 0 %}hs-menu-depth-1--has-children {% if loop.first %}{% else %}chapter--closed{% endif %}{% endif %}{% if loop.first %}hs-menu-item--active{% endif %}" role="none"> 
          <span class="section--chapter-list-marker-container flex flex-align--center" aria-haspopup="true" aria-expanded="false">
            <a class="relative flex" href="{{ child.url }}" role="menuitem">
              <span class="section--chapter-list--index">{{ child.linkLabel }}</span>
              <img class="section--chapter-list-marker {% if child.children|length > 0 %}section--chapter-list-marker--visible{% endif %} inline-block hover--pointer" src="https://www.impactplus.com/hubfs/Navigation%20(Tailwind)/Assets/arrow-down.svg" alt="{{ child.linkLabel }} Dropdown Arrow" style="width: 10px; height: 7px; {% if child.children|length > 0 %}{% else %}visibility: hidden;{% endif %}">
            </a>
          </span>
          {% if child.children|length > 0 %}
          <ul class="sidebar-menu--depth-2 section--chapter-list--page-menu section--chapter-list--depth-2" role="menu" style="display:none;">
            {% for child2 in child.children %}
            <li class="hs-menu-item hs-menu-depth-2" role="none"> 
              <a class="relative" href="{{ child2.linkParams }}" role="menuitem">
                <span class="section--chapter-list--index">{{ child2.linkLabel }}</span>
              </a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>

    </div>
  </div>
</div>
{# End Table of Contents #}

{# Share Module #}
<div class="section section--lcsocialshare relative overflow--hidden">
  <div class="block relative z-index--10 grid__item hard--sides hard--ends margin--standard--top hard-bottom">
    <div class="section--lcsocialshare--share flex flex-align--center flex-wrap--wrap margin--petite--top margin--petite--bottom palm-margin--short--top">
      <h6 class="hard--ends">Share</h6>
      {% set urlToShare = content.absolute_url %}   
      <div class="section--lcsocialshare--share-group margin--petite--top margin--petite--bottom">
        <a class="section--lcsocialshare--share--link section--lcsocialshare-share--icon--linkedin" rel="noopener" target="_blank" title="Share on LinkedIn" href="https://www.linkedin.com/shareArticle?url={{ urlToShare }}&title={{ content.html_title|urlencode }}&summary={{ content.meta_description|urlencode }}">
          <img class="section--lcsocialshare-share--icon lazy" data-src="https://www.impactplus.com/hubfs/IMPACT%20Production%20Website%20(2023)/Assets/Icon%20Library/social/linkedin-logo.svg" alt="facebook-logo" loading="lazy" style="max-width: 100%; height:{{ module.layout_controls.social_share_icon_height }}px;">
        </a>
        <a class="section--lcsocialshare--share--link section--lcsocialshare-share--icon--twitter" rel="noopener" target="_blank" title="Share on X" href="https://twitter.com/intent/tweet?url={{ urlToShare }}">
          <img class="section--lcsocialshare-share--icon footer-social--custom-icon lazy" data-src="https://www.impactplus.com/hubfs/IMPACT%20Production%20Website%20(2023)/Assets/Icon%20Library/social/x%20corp.svg" loading="lazy" style="max-width: 100%; height:{{ module.layout_controls.social_share_icon_height }}px;">
        </a>
        <a class="section--lcsocialshare--share--link section--lcsocialshare-share--icon--facebook" rel="noopener" target="_blank" title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ urlToShare }}">
          <img class="section--lcsocialshare-share--icon footer-social--custom-icon lazy" data-src="https://145335.fs1.hubspotusercontent-na1.net/hubfs/145335/IMPACT%20Production%20Website%20(2023)/Assets/Icon%20Library/social/facebook-logo.svg" alt="facebook-logo" loading="lazy" style="max-width: 100%; height:{{ module.layout_controls.social_share_icon_height }}px;">
        </a>
        <a class="section--lcsocialshare--share--link section--lcsocialshare-share--icon--linkedin" rel="noopener" target="_blank" title="Mail to" href="mailto:?subject={{ content.html_title|urlencode }}&body=I came across this resource and I thought it would be valuable to you: {{ urlToShare }}">
          <img class="section--lcsocialshare-share--icon footer-social--custom-icon lazy" data-src="https://www.impactplus.com/hubfs/IMPACT%20Production%20Website%20(2023)/Assets/Icon%20Library/social/mail-to.svg" alt="mail-to" loading="lazy" height="{{ module.layout_controls.social_share_icon_height }}" style="max-width: 100%; height:{{ module.layout_controls.social_share_icon_height }}px;">
        </a>
        <div class="tooltip-container inline-block" onclick="copyToClipboard(this, '{{ urlToShare }}')">
          <a 
             class="section--lcsocialshare--share--link section--lcsocialshare-share--icon--linkedin" 
             rel="noopener" 
             title="Copy Link" 
             href="javascript:void(0);"
             >
            <img 
                 class="section--lcsocialshare-share--icon footer-social--custom-icon lazy" 
                 data-src="https://www.impactplus.com/hubfs/IMPACT%20Production%20Website%20(2023)/Assets/base/Learning%20Center%20Resource%20Category%20Icons/Website%20link.svg" 
                 alt="copy-link" 
                 loading="lazy" 
                 style="max-width: 100%; height:20px;"
                 >
          </a>
          <div class="copy-tooltip p hard--ends">Link copied!</div>
        </div>
      </div>
    </div>

  </div>
</div>
{# End Share Module #}




{% require_js %}
<script>

  {# Flex Sidebar and Secondary Nav Hash Scroll #}
  $(document).ready(function() {
    $('a[href*="#"]').on("click", function(e) {
      e.preventDefault();

      var target = $(this).attr("href");
      console.log("Clicked link with href:", target);

      try {
        // skip if target is just "#"
        if (target === "#" || !target) {
          console.warn("Skipping invalid target:", target);
          return;
        }

        // check if an element exists with that ID
        if ($(target).length === 0) {
          console.warn("No element found for selector:", target);
          return;
        }

        // Checking if the click was on the secondary navigation mobile accordion
        if ($(this).closest('.headerIMPlus--navigation-links--menu').hasClass("tray--open")) {
          subnavClosePortDown();
        }

        // perform animated scrolling
        $('html, body').stop().animate({
          scrollTop: $(target).offset().top - $('.headerIMPlus--secondary').height() - 20
        }, 400);

        location.hash = target;
      } catch (err) {
        console.error("Scroll script error for target:", target, err);
      }
    });
  });

  {# End Secondary Navigation Menu Dropdowns #}

  // Cache selectors
  var topMenu = $(".section--chapter-list--page-menu"),
      topMenuHeight = 110,
      // All list items
      menuItems = topMenu.find("a"),
      // Anchors corresponding to menu items
      scrollItems = menuItems.map(function(){
        var item = $($(this).attr("href"));
        if (item.length) { return item; }
      });

  console.log(scrollItems);
  /* end Activate */

  // Sidebar Fixed Function

  $(document).ready(function () {
    var parentWidth,
        pageContent,
        sidebar,
        pageContentOffset,
        pageContentHeight,
        sidebarHeight,
        distScrolled,
        navigationHeight;

    $(window).on("scroll resize", function() {

      parentWidth = $('.flex-sidebar--width').width();
      pageContent = $('#flex-sidebar-wrapper');
      sidebar = $("#flex-sidebar--sidebar-container");

      /*pageContentOffset = pageContent.offset().top;
      pageContentHeight = pageContent.height();
      sidebarHeight = $('.chapter--overflow-scroller').height();
      distScrolled = $(document).scrollTop();
      navigationHeight = 85;

      if (distScrolled + sidebarHeight + 140 > pageContentOffset + pageContentHeight) {
        // bottom
        sidebar.removeClass('section--chapter-list--page-menu--fixed');
        sidebar.find('.section--chapter-list--container').css({
          'top' : '',
          'position' : 'absolute',
          'bottom' : '0'
        });
      }
      else if (distScrolled + navigationHeight < pageContentOffset) {
        // top
        sidebar.removeClass('section--chapter-list--page-menu--fixed');
        sidebar.find('.section--chapter-list--container').css({
          'width' : '',
          'top' : '',
          'position' : ''
        });
      }
      else {
        // middle
        sidebar.addClass('section--chapter-list--page-menu--fixed');
        sidebar.find('.section--chapter-list--container').css({
          'width' : parentWidth,
          'top' : '',
          'position' : ''
        });
      }*/

      // Get container scroll position
      var fromTop = $(this).scrollTop()+topMenuHeight;

      // Get id of current scroll item
      var cur = scrollItems.map(function(){
        if ($(this).offset().top < fromTop)
          return this;
      });

      // Get the id of the current element
      cur = cur[cur.length-1];
      var id = cur && cur.length ? cur[0].id : "";
      // Set/remove active class

      $(menuItems).filter(function() {

        // Returning the currently active element
        if ((this.href.indexOf(id) != -1) && ($(this).closest('li').hasClass('hs-menu-item--active'))) {

          if (($(this).parents('li').hasClass('hs-menu-depth-1--has-children')) && (($(this).parents('li').find("span a[href='#"+id+"']").length) || ($(this).parents('.sidebar-menu--depth-2').find("li a[href='#"+id+"']").length))) {

            // If this is a parent with Children
            if ($(this).parents('li').hasClass('hs-menu-depth-1--has-children')){

              $(this).parents('.hs-menu-depth-1--has-children').find('ul.sidebar-menu--depth-2').slideDown(400, function() {});

              $(this).parents('.hs-menu-depth-1--has-children').find('ul.sidebar-menu--depth-2').slideDown(400, function() {});
              $(this).parents('li').addClass('hs-menu-depth-1--children-active');
              $(this).parents('li').removeClass('chapter--closed');
            } else {
              $(this).parents('ul.sidebar-menu--depth-2').slideDown(400, function() {});
              $('.section--chapter-list--page-menu li').removeClass('hs-menu-depth-1--children-active');

            }
          } else {
            $('.section--chapter-list--page-menu ul.sidebar-menu--depth-2').slideUp(400, function() {});
            $('.section--chapter-list--page-menu li').removeClass('hs-menu-depth-1--children-active');
            $('.section--chapter-list--page-menu li').addClass('chapter--closed');
          }
        } 
      });

      menuItems.closest('li').removeClass("hs-menu-item--active").end().filter("[href='#"+id+"']").closest('li').addClass("hs-menu-item--active");


      $(".chapter--overflow-scroller .sidebar-menu--item.hs-menu-depth-1--has-children").each(function(i) {
        // If one of its inner li's has the active class

        if (($(this).hasClass("hs-menu-item--active")) || ($(this).find(".hs-menu-depth-2").hasClass("hs-menu-item--active"))) {
          // Do nothing, the section has a active class
        } else {

          $(this).find("ul.sidebar-menu--depth-2").slideUp(400, function() {});
          $(this).removeClass('hs-menu-depth-1--children-active');
          $(this).addClass('chapter--closed');
        }
      });
    });
  });


  // Opening the accordian sidebar menu on click
  $(".sidebar-menu--item.hs-menu-depth-1 a").on("click", function() {
    if ($(this).parents('.hs-menu-depth-1').hasClass('hs-menu-depth-1--has-children')){
      $(this).parents('.hs-menu-depth-1--has-children').find('ul.sidebar-menu--depth-2').slideDown(400, function() {});
      $(this).parents('li').addClass('hs-menu-depth-1--children-active');
      $(this).parents('li').removeClass('chapter--closed');
    } else {
      $('ul.sidebar-menu--depth-2').slideUp(400, function() {});
      $('li').removeClass('hs-menu-depth-1--children-active');
      $('li').addClass('chapter--closed');
    }
  });


  {# Opening and closing the secondary navigation on mobile #}
  /*$(".headerIMPlus--sidebar-dropdown-arrow").on("click", function() {
    if ($(".headerIMPlus--sidebar-dropdown").hasClass("opened")) {
      $(".headerIMPlus--sidebar-dropdown").removeClass('opened');
      $("#headerIMPlus .headerIMPlus-navigation-container .headerIMPlus--sidebar-items").slideUp(400, function() {});
    } else {
      $(".headerIMPlus--sidebar-dropdown").addClass('opened');
      $("#headerIMPlus .headerIMPlus-navigation-container .headerIMPlus--sidebar-items").slideDown(400, function() {});
    }
  });

  $('.headerIMPlus--sidebar-dropdown .sidebar-menu--item a[href*=#]').on("click", function() {
    $(".headerIMPlus--sidebar-dropdown").removeClass('opened');
    $("#headerIMPlus .headerIMPlus-navigation-container .headerIMPlus--sidebar-items").slideUp(400, function() {});
  });

  $(".headerIMPlus--sidebar-items .hs-menu-depth-1--has-children").on("click", function() {
    if ($(this).hasClass("chapter--closed")) {
      $(this).find('.headerIMPlus--sidebar--depth-2').slideDown(400, function() { });
      $(this).removeClass('chapter--closed');
    } else {
      $(this).find('.headerIMPlus--sidebar--depth-2').slideUp(400, function() {});
      $(this).addClass('chapter--closed');
    }
  });*/


  {# Copy to Clipboard #}
  function copyToClipboard(container, text) {
    navigator.clipboard.writeText(text).then(() => {
      const tooltip = container.querySelector('.copy-tooltip');
      container.classList.add('show-tooltip');
      setTimeout(() => {
        container.classList.remove('show-tooltip');
      }, 1500);
    }).catch(err => {
      console.error('Copy failed', err);
    });
  }
  {# End Copy to Clipboard #}



</script>
{% end_require_js %}