{% if module.layout_controls.container_alignment == 'center' %}
{% set gridAlignmentDesktop = 'center' %}
{% endif %}

{% if module.layout_controls.container_alignment == 'left' %}
{% set gridAlignmentDesktop = 'left' %}
{% endif %}

{% if module.section_controls.hide_section %}
{% else %}
<div {% if module.section_controls.anchor_id %}id="{{ module.section_controls.anchor_id|trim }}"{% endif %} class="section section--fullwidth relative overflow--hidden {{ snippets.deviceVisibility(module.section_controls.device_visibility)|trim }}">
  {{ snippets.background(module.background) }}
  <div class="block relative z-index--3">
    {{ snippets.swoopSpacerTop(module.background) }}
    <div class="block gridspacer--top {{ snippets.sectionPadding(module.section_controls.spacing,"top")|trim }}">

    </div> 
    <div class="grid hard--ends"> 
      <div class="resource-webinar-cards--wrapper grid__item one-whole hard--ends">
        <div class="all--valign--bottom text--left hard--ends flex flex-justify--space-between flex-align--center flex-wrap--wrap">
          <div class="resource-webinar-cards--header grid__item nine-twelfths palm-one-whole hard--ends hard--sides relative z-index--10 first--hard--top last--hard--bottom hard--top">
            <h4><span>{{ module.header }}</span></h4>
          </div>
          <div class="grid__item three-twelfths palm-one-whole hard--sides hard--ends palm-margin--short--top relative z-index--10 lap-and-up-text--right portable-text--right palm-text--left">
            <div class="section--richtext-columns--button-container" style="text--center">
              <span class="section--webinar-cards--card--body--cta">
                <span class="p all--btn all--btn--simple hard--ends line-height--small font--15">
                  <a class="section--webinar-cards--card--link no--underline border--0 card--hover" title="{{ module.inline_header_button.inline_header_button_text }}" href="{{ module.inline_header_button.inline_header_button_link.href|escape_url }}">
                    <span class="btn btn--simple font--15" style="padding-right: 0px !important;">
                      {{ module.inline_header_button.inline_header_button_text }}
                    </span>
                  </a>
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>

      {# Resource Cards #}
      <div class="section--card-content-columns-headings--content-columns">
        <div class="section--card-content-columns--grid">
          <div class="section--card-content-columns--center flex flex-justify--left flex-wrap--wrap all--text--left">

            {% if module.cards_selection_type == 'custom' %}
            {% set dbColumns = module.custom_cards_select_row %}
            {% elif module.cards_selection_type == 'recent' %}
            {% set resource_type = module.cards_enter_resource_type|urlencode %}
            {% set dbColumns = hubdb_table_rows(127897189,"resource_type__contains=" ~ resource_type ~ "&orderBy=-published_date&limit=4") %}
            {% else %}
            {% set dbColumns = hubdb_table_rows(127897189, "orderBy=-published_date&limit=5") %}
            {% endif %}

            {% for item in dbColumns %}
            <div class="section--webinar-cards-column-group section--cards-column-group grid__item one-fourth tablet-one-half palm-one-whole hard--top hard--bottom lap-and-up-flex tablet-flex flex-justify--center animate--fade animate--fade-up animate--fade-delay-list--{{ loop.index + 1 }} margin--standard--top relative z-index--30 border-radius--16">
              <div class="section--webinar-card-content-columns-container flex overflow--hidden border--1 border--mist" style="width: 100%; flex-direction: column; border-radius: 16px;">
                <div class="overflow--hidden section--resource-slider--featured-image-wrapper relative border--1 border--mist border--left--0 border--top--0 border--right--0 border--mist">
                  <a class="section--webinar-cards--card--link absolute left--0 right--0 top--0 bottom--0 hover--pointer" title="{% if local_dt|unixtimestamp() <= webinarDateTime|unixtimestamp() %}Sign up for {{ item.resource_title }}{% else %}Watch {{ item.resource_title }} On-Demand{% endif %}" href="{{ item.resource_link }}"></a>
                  <div class="section--resource-slider--featured-image grid__item one-whole hard lazy" role="img" aria-label="{{ item.resource_title }}" data-bg="{{ item.resource_image.url }}" style="background-size: cover; background-position:center center; background-repeat:no-repeat; height: 100%;">
                    <span class="tablet-visuallyhidden" style="display: block; width: 100%; margin: 0px; padding: 56.25% 0px 0px;"></span>
                    <span class="lap-and-up-visuallyhidden palm-visuallyhidden" style="display: block; width: 100%; margin: 0px; padding: 70.25% 0px 0px 0px;"></span>
                  </div>
                </div>
                <div class="section--card-content-columns-wrapper relative width--max short padding--short flex flex-flow--column flex-justify--space-between" style="flex-grow: 1;">
                  <div class="section--card-content-columns-top">
                    {% if resource_type is string_containing 'Podcast' %}
                      
                    <div class="section--card-content-columns-inner text--center p p--sm bold hard--top margin--petite--bottom color--darkgrey uppercase">
                      Episode {{ item.episode_number }}
                    </div>
                    {% endif %}
                    <div class="section--card-content-columns-header p font--reading bold line-height--small hard--top margin--petite--bottom last--hard--bottom relative">
                      <a class="section--webinar-cards--card--link absolute left--0 right--0 top--0 bottom--0 hover--pointer" title="{{ item.resource_title }}" href="{{ item.resource_link }}"></a>
                      {{ item.resource_title }}
                    </div>
                  </div>
                  <div class="section--richtext-columns--button-container" style="text--center">
                    <span class="section--webinar-cards--card--body--cta">
                      <span class="p all--btn all--btn--simple margin--petite--top hard--bottom">
                        <a class="section--webinar-cards--card--link no--underline border--0 hover--pointer" title=" " href="{{ item.resource_link }}">
                          <span class="btn btn--simple font--16" style="padding-right: 0px !important;">
                            {{ module.cards_card_button_link_text }}
                          </span>
                        </a>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

        </div>
      </div>

      {# End Webinar Cards #}
    </div>

    <div class="block gridspacer--bottom {{ snippets.sectionPadding(module.section_controls.spacing,"bottom")|trim }}">

    </div>
    {{ snippets.swoopSpacerBottom(module.background) }}
  </div>
  {{ snippets.sectionPaddingCustomStyles(name,module.section_controls.spacing,".gridspacer--top",".gridspacer--bottom") }}
</div>
{% endif %}